<div class="bg-danger mt-2 p-2 text-center text-white"
     *ngIf="errorMessage != null">
  {{errorMessage}}
</div>

<h1>Pick turn</h1>

<!-- Form starts -->
<form [formGroup]="parentForm" (submit)="submitForm(parentForm)" novalidate>

  <div *ngIf="buildGreenProjectTurn()" class="form-check">
    <input id="greenProject" (click)="resetAllInputs()" type="radio" class="form-check-input" value="greenProject"
           formControlName="turn" [checked]="this.parentForm.value?.turn === 'greenProject'">
    <label class="custom-control-label text-white" for="greenProject">Build green project</label>

    <div *ngIf="parentForm.value?.turn === 'greenProject'" class="card-container">
      <ul class="myUL">
        <li *ngFor="let card of getGreenPlayerHand();" (click)="clickProjectToBuild(card)"
            [ngClass]="selectedProjectToBuildClass(card)" class="filterDiv automated display">
          <app-card-template [card]="card" [game]="game"></app-card-template>
        </li>
      </ul>

      <div class="form-group" *ngIf="selectedProject">
        <div class="form-row">
          <div class="col-sm-1">
            <label for="mcInput" class="text-white">Mc</label>
            <input type="number" class="form-control form-control-sm" id="mcInput" formControlName="mcPrice">
          </div>
        </div>

        <div class="form-row" *ngIf="anaerobicMicroorganismsCardAction()">
          <div class="col-sm-1">
            <label for="anaerobicMicroorganisms" class="text-white">Anaerobic Microorganisms</label>
            <input type="checkbox" (change)="anaerobicMicroorganismsClicked($event)" class="custom-control-input"
                   id="anaerobicMicroorganisms" formControlName="anaerobicMicroorganisms">
          </div>
        </div>

        <div *ngIf="marsUniversityEffect()" class="card-container">
          <h1 class="text-white">Mars University Discard Cards: </h1>

          <ul class="myUL">
            <li *ngFor="let card of getPlayerHandWithoutSelectedCard();" (click)="clickProjectToDiscard(card)"
                [ngClass]="selectedProjectToDiscardClass(card)" class="filterDiv automated display">
              <app-card-template [card]="card" [game]="game"></app-card-template>
            </li>
          </ul>

          <label for="marsUniversityDiscardLess" class="text-white">Discard fewer cards</label>
          <input type="checkbox" class="custom-control-input" id="marsUniversityDiscardLess"
                 formControlName="marsUniversityDiscardLess">

        </div>
      </div>


      <div *ngIf="expectsMicrobeOnBuildEffectInput()">
        <h1 class="text-white">Choose card to put microbes on </h1>

        <div class="form-check">
          <input id="chooseMicrobes" type="radio"
                 class="form-check-input"
                 value="chooseMicrobe"
                 formControlName="onBuildMicrobeEffectChoice"
                 [checked]="parentForm.value.onBuildMicrobeEffectChoice === 'chooseMicrobe'"
          >
          <label class="custom-control-label text-white" for="chooseMicrobes">Choose microbe card</label>
        </div>

        <div class="form-check">
          <input id="skipMicrobes" type="radio" class="form-check-input" value="skipMicrobe"
                 formControlName="onBuildMicrobeEffectChoice"
                 [checked]="parentForm.value.onBuildMicrobeEffectChoice === 'skipMicrobe'">
          <label class="custom-control-label text-white" for="skipMicrobes">Skip microbes choice</label>
        </div>


        <ul class="myUL" *ngIf="parentForm.value.onBuildMicrobeEffectChoice === 'chooseMicrobe'">
          <li *ngFor="let card of getMicrobePlayedCards();" (click)="onBuildMicrobeChoice = card"
              [ngClass]="onBuildMicrobeChoice && onBuildMicrobeChoice.id == card.id ? 'clicked-card': ''"
              class="filterDiv automated display">
            <app-card-template [card]="card" [game]="game"></app-card-template>
          </li>
        </ul>
      </div>

      <div *ngIf="expectsAnimalOnBuildEffectInput()">
        <h1 class="text-white">Choose card to put animals on </h1>

        <div class="form-check">
          <input id="chooseAnimal" type="radio"
                 class="form-check-input"
                 value="chooseAnimal"
                 formControlName="onBuildAnimalEffectChoice"
                 [checked]="parentForm.value.onBuildAnimalEffectChoice === 'chooseAnimal'"
          >
          <label class="custom-control-label text-white" for="chooseAnimal">Choose animal card</label>
        </div>

        <div class="form-check">
          <input id="skipAnimal" type="radio" class="form-check-input" value="skipAnimal"
                 formControlName="onBuildAnimalEffectChoice"
                 [checked]="parentForm.value.onBuildAnimalEffectChoice === 'skipAnimal'">
          <label class="custom-control-label text-white" for="skipAnimal">Skip animal choice</label>
        </div>


        <ul class="myUL" *ngIf="parentForm.value.onBuildAnimalEffectChoice === 'chooseAnimal'">
          <li *ngFor="let card of getAnimalPlayedCards();" (click)="onBuildAnimalChoice = card"
              [ngClass]="onBuildAnimalChoice && onBuildAnimalChoice.id == card.id ? 'clicked-card': ''"
              class="filterDiv automated display">
            <app-card-template [card]="card" [game]="game"></app-card-template>
          </li>
        </ul>
      </div>

      <div *ngIf="expectsDecomposersInput()">
        <h1 class="text-white">Decomposers effect: </h1>
        <div class="form-group">
          <div class="form-row">
            <div class="col-sm-1">
              <label class="custom-control-label text-white" for="takeMicrobes">Take microbes</label>
              <input id="takeMicrobes" type="number" class="form-control form-control-sm"
                     formControlName="takeMicrobes"
              >
            </div>
            <div class="col-sm-1">
              <label class="custom-control-label text-white" for="takeCards">Take cards</label>
              <input id="takeCards" type="number" class="form-control form-control-sm"
                     formControlName="takeCards"
              >
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>

  <div *ngIf="sellCardsTurn()" class="form-check">
    <app-sell-cards [game]="game" [parentForm]="parentForm"></app-sell-cards>
  </div>

  <div *ngIf="skipTurn()" class="form-check">
    <input id="skipTurn" (click)="resetAllInputs()" type="radio" class="form-check-input" value="skipTurn"
           formControlName="turn" required [checked]="this.parentForm.value?.turn === 'skipTurn'">
    <label class="custom-control-label text-white" for="skipTurn">Skip turn</label>
  </div>

  <div *ngIf="isSubmitted && parentForm.invalid">
    <p>Please select either value</p>
  </div>
  <!-- Submit Button -->
  <button type="submit" class="btn btn-danger btn-lg btn-block">Select turn</button>
</form><!-- Form ends -->
