HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
/mvnw.cmd
/mvnw
/.mvn/wrapper/maven-wrapper.jar
/.mvn/wrapper/maven-wrapper.properties

*.dnet
/lib/bcpg-jdk15on-1.64.jar
/lib/bcprov-jdk15on-1.64.jar
/cardStats.txt
/lib/commons-lang3-3.3.2.jar
*.csv
/lib/json-20170516.jar
/lib/license3j-2.0.0-JVM8.jar
/lib/visrec-api-1.0.5.jar
/lib/visrec-ri-1.0.3.jar
