<div class="bg-danger mt-2 p-2 text-center text-white"
     *ngIf="errorMessage != null">
  {{errorMessage}}
</div>

<h1 class="text-white">Action phase turn</h1>

<!-- Form starts -->
<form [formGroup]="parentForm" (submit)="submitForm(parentForm)" novalidate>

  <div *ngIf="buildBlueRedProjectTurn()" class="form-check">
    <app-build-blue-red [game]="game" [parentForm]="parentForm"></app-build-blue-red>
  </div>

  <div *ngIf="buildGreenProjectTurn()" class="form-check">
    <app-build-green [game]="game" [parentForm]="parentForm"></app-build-green>
  </div>

  <div *ngIf="blueActionTurn()" class="form-check">

    <div *ngIf="this.getActiveCards()?.length > 0 || canPlayExtraBlueAction()" style="display: inline-table; width: 500px">
      <div *ngIf="this.getActiveCards()?.length > 0">
        <input id="blueAction" (click)="resetAllInputs()" type="radio" class="form-check-input" value="blueAction"
               formControlName="turn" [checked]="this.parentForm.value?.turn === 'blueAction'">
        <label class="custom-control-label text-white" for="blueAction">Perform action</label>
      </div>

      <div *ngIf="canPlayExtraBlueAction()" style="display: table-cell">
        <input id="extraBlueAction" (click)="resetAllInputs()" type="radio" class="form-check-input" value="extraBlueAction"
               formControlName="turn" [checked]="this.parentForm.value?.turn === 'extraBlueAction'">
        <label class="custom-control-label text-white" for="extraBlueAction">Perform extra action</label>
      </div>
    </div>

    <div *ngIf="parentForm.value?.turn === 'blueAction'" class="card-container">
      <ul class="myUL">
        <li *ngFor="let card of getActiveCards();" (click)="selectProject(card)"
            [ngClass]="selectedProjectClass(card)" class="filterDiv automated display">
          <app-card-template [card]="card" [player]="game?.player" [showResources]="true"></app-card-template>
        </li>
      </ul>
    </div>

    <div *ngIf="parentForm.value?.turn === 'extraBlueAction'" class="card-container">
      <ul class="myUL">
        <li *ngFor="let card of getPlayedActiveCards();" (click)="selectProject(card)"
            [ngClass]="selectedProjectClass(card)" class="filterDiv automated display">
          <app-card-template [card]="card" [player]="game?.player" [showResources]="true"></app-card-template>
        </li>
      </ul>
    </div>

    <div *ngIf="parentForm.value?.turn === 'blueAction' || parentForm.value?.turn === 'extraBlueAction'">
      <div *ngIf="expectsCardActionInput()" class="card-container">
        <h1 class="text-white">Choose card to apply the effect </h1>

        <ul class="myUL">
          <li *ngFor="let card of getPlayerHandForAction();" (click)="addCardToActionTargetCards(card)"
              [ngClass]="getActionTargetCardClass(card)" class="filterDiv automated display">
            <app-card-template [card]="card" [player]="game?.player" [showResources]="true"></app-card-template>
          </li>
        </ul>
      </div>

      <div *ngIf="expectsHeatActionInput()" class="card-container">
        <h1 class="text-white">How much heat to discard </h1>

        <div class="form-group">
          <div class="form-row">
            <div class="col-sm-1">
              <input type="number" class="form-control form-control-sm" id="heatInput" formControlName="heatInput">
            </div>
          </div>
        </div>
      </div>

      <div *ngIf="expectsTagInput()">
        <h1 class="text-white">Choose tag to put on a card: </h1>

        <div *ngFor='let tag of getAllTagsArray(); let i = index;' class="form-check form-check-inline">
          <div class="tag" [ngClass]="getTagClasses(i)">
            <input class="form-check-input" (click)="tagInput = i" type="radio" [checked]="tagInput === i">
          </div>
        </div>
      </div>

      <div *ngIf="expectsAddDiscardMicrobeInput()" style="margin-left: 20px">
        <div class="form-group">
          <div class="form-row">
            <div class="col-sm-1">
              <input id="addMicrobe" type="radio" class="form-check-input" value="addMicrobe"
                     formControlName="addOrUseMicrobe"
                     [checked]="this.parentForm.value?.addOrUseMicrobe === 'addMicrobe'"
              >
              <label class="custom-control-label text-white" for="addMicrobe">Add resource</label>
            </div>
            <div class="col-sm-1">
              <input id="useMicrobe" type="radio" class="form-check-input" value="useMicrobe"
                     formControlName="addOrUseMicrobe"
                     [checked]="this.parentForm.value?.addOrUseMicrobe === 'useMicrobe'"
              >
              <label class="custom-control-label text-white" for="useMicrobe">Use resources</label>
            </div>
          </div>
        </div>
      </div>

      <div *ngIf="expectsExtremeColdFungusInput()" class="form-check">
        <div class="form-group">
          <div class="form-row">
            <div class="col-sm-1">
              <input id="gainPlant" type="radio" class="form-check-input" value="gainPlant"
                     formControlName="gainPlantOrMicrobe"
                     [checked]="this.parentForm.value?.gainPlantOrMicrobe === 'gainPlant'"
              >
              <label class="custom-control-label text-white" for="gainPlant">Gain plant</label>
            </div>
            <div class="col-sm-1">
              <input id="gainMicrobe" type="radio" class="form-check-input" value="gainMicrobe"
                     formControlName="gainPlantOrMicrobe"
                     [checked]="this.parentForm.value?.gainPlantOrMicrobe === 'gainMicrobe'"
              >
              <label class="custom-control-label text-white" for="gainMicrobe">Gain microbe</label>
            </div>
          </div>
        </div>

        <div *ngIf="this.parentForm.value?.gainPlantOrMicrobe === 'gainMicrobe'" class="card-container">
          <h1 class="text-white">Put microbe on</h1>

          <ul class="myUL">
            <li *ngFor="let card of getPlayerHandForAction();" (click)="addCardToActionTargetCards(card)"
                [ngClass]="getActionTargetCardClass(card)" class="filterDiv automated display">
              <app-card-template [card]="card" [player]="this.game?.player" [showResources]="true"></app-card-template>
            </li>
          </ul>
        </div>
      </div>

      <div *ngIf="expectsDecomposersInput()">
        <h1 class="text-white">Decomposers effect: </h1>
        <div class="form-group">
          <div class="form-row">
            <div class="col-sm-1">
              <label class="custom-control-label text-white" for="takeMicrobes">Take microbes</label>
              <input id="takeMicrobes" type="number" class="form-control form-control-sm"
                     formControlName="takeMicrobes"
              >
            </div>
            <div *ngIf="decomposersCanTakeCard()" class="col-sm-1">
              <label class="custom-control-label text-white" for="takeCards">Take cards</label>
              <input id="takeCards" type="number" class="form-control form-control-sm"
                     formControlName="takeCards"
              >
            </div>
          </div>
        </div>
      </div>

      <div *ngIf="expectsMarsUniversityInput()" class="card-container">
        <h1 class="text-white">Mars University Discard Cards: </h1>

        <ul class="myUL">
          <li *ngFor="let card of getPlayerHand();" (click)="clickProjectToDiscard(card)"
              [ngClass]="selectedProjectToDiscardClass(card)" class="filterDiv automated display">
            <app-card-template [card]="card" [player]="game?.player"></app-card-template>
          </li>
        </ul>

        <label for="marsUniversityDiscardLess" class="text-white">Discard fewer cards</label>
        <input type="checkbox" class="custom-control-input" id="marsUniversityDiscardLess"
               formControlName="marsUniversityDiscardLess">

      </div>

      <div *ngIf="expectsViralEnhancersInput()" class="card-container">
        <h1 class="text-white">Viral Enhancers choice: </h1>

        <div class="form-group">
          <div class="form-row">
            <div class="col-sm-1">
              <label for="plantsInput" class="text-white">Take plants</label>
              <input type="number" class="form-control form-control-sm" id="plantsInput"
                     formControlName="viralEnhancersPlantInput">
            </div>
          </div>

          <h1 class="text-white">Take microbes and animals</h1>

          <ul class="myUL">
            <li *ngFor="let card of getMicrobeAnimalPlayedCards();"
                (click)="clickViralEnhancersTargetCard(card)"
                [ngClass]="selectedViralEnhancersCardClass(card)" class="filterDiv automated display">
              <app-card-template [card]="card" [player]="game?.player" [showResources]="true"></app-card-template>
            </li>
          </ul>

        </div>
      </div>

    </div>
  </div>

  <div *ngIf="discardCardsTurn()" class="form-check">
    <input id="discardCards" (click)="resetAllInputs()" type="radio" class="form-check-input" value="discardCards"
           formControlName="turn">
    <label class="custom-control-label text-white" for="discardCards">Discard {{game.player.nextTurn.size }}
      cards</label>

    <div *ngIf="parentForm.value?.turn === 'discardCards'" class="card-container">
      <ul class="myUL">
        <li *ngFor="let card of getDiscardCards();" (click)="clickProjectToDiscard(card)"
            [ngClass]="selectedProjectToDiscardClass(card)" class="filterDiv automated display">
          <app-card-template [card]="card" [player]="game?.player"></app-card-template>
        </li>
      </ul>
    </div>
  </div>

  <app-upgrade-phase-template *ngIf="expectsAnyPhaseUpgradeActionInput()" [phaseInput]="phaseInput" [phaseUpgradeTypeInput]="phaseUpgradeType"
                              [game]="game"
                              [phases]="getUpgradePhasesArray()"
                              (phaseOutput)="updatePhaseInput($event)"
                              (phaseUpgradeTypeOutput)="updatePhaseUpgradeTypeInput($event)"
  >
  </app-upgrade-phase-template>

  <div *ngIf="plantForestTurn()" class="form-check">
    <input id="plantForest" (click)="resetAllInputs()" type="radio" class="form-check-input" value="plantForest"
           formControlName="turn" [checked]="this.parentForm.value?.turn === 'plantForest'">
    <label class="custom-control-label text-white" for="plantForest">Plant forest<span *ngIf="!game.crysisDto">(required)</span></label>
  </div>

  <div *ngIf="increaseTemperatureTurn()" class="form-check">
    <input id="increaseTemperature" (click)="resetAllInputs()" type="radio" class="form-check-input" value="increaseTemperature"
           formControlName="turn" [checked]="this.parentForm.value?.turn === 'increaseTemperature'">
    <label class="custom-control-label text-white" for="increaseTemperature">Increase temperature<span *ngIf="!game.crysisDto">(required)</span></label>
  </div>

  <div *ngIf="plantsToCrisisTokenTurn()" class="form-check">
    <input id="plantsToCrisisToken" (click)="resetAllInputs()" type="radio" class="form-check-input" value="plantsToCrisisToken"
           formControlName="turn" [checked]="this.parentForm.value?.turn === 'plantsToCrisisToken'">
    <label class="custom-control-label text-white" for="plantsToCrisisToken">Spend 4 plants and remove Crisis token</label>
  </div>

  <div *ngIf="heatToCrisisTokenTurn()" class="form-check">
    <input id="heatToCrisisToken" (click)="resetAllInputs()" type="radio" class="form-check-input" value="heatToCrisisToken"
           formControlName="turn" [checked]="this.parentForm.value?.turn === 'heatToCrisisToken'">
    <label class="custom-control-label text-white" for="heatToCrisisToken">Spend 6 heat and remove Crisis token</label>
  </div>

  <div *ngIf="cardsToCrisisTokenTurn()" class="form-check">
    <input id="cardsToCrisisToken" (click)="resetAllInputs()" type="radio" class="form-check-input" value="cardsToCrisisToken"
           formControlName="turn" [checked]="this.parentForm.value?.turn === 'cardsToCrisisToken'">
    <label class="custom-control-label text-white" for="cardsToCrisisToken">Discard 3 Cards and remove Crisis token</label>

    <div *ngIf="parentForm.value?.turn === 'cardsToCrisisToken'" class="card-container">
      <ul class="myUL">
        <li *ngFor="let card of getPlayerHand();" (click)="clickProjectToDiscard(card)"
            [ngClass]="selectedProjectToDiscardClass(card)" class="filterDiv automated display">
          <app-card-template [card]="card" [player]="game?.player"></app-card-template>
        </li>
      </ul>
    </div>
  </div>

  <div *ngIf="standardProjectTurn()" class="form-check">
    <input id="standardProject" (click)="resetAllInputs()" type="radio" class="form-check-input" value="standardProject"
           formControlName="turn" [checked]="this.parentForm.value?.turn === 'standardProject'">
    <label class="custom-control-label text-white" for="standardProject">Standard Project</label>

    <div *ngIf="this.parentForm.value?.turn === 'standardProject'" class="form-group" style="margin-left: 20px">
      <div class="form-row">
        <div *ngIf="standardOceanAvailable()" class="col-sm-1">
          <input id="standardOcean" type="radio" class="form-check-input" value="ocean"
                 formControlName="standardProject"
          >
          <label class="custom-control-label text-white" for="standardOcean">Ocean ({{hasStandardTechnology() ? 11 : 15}}mc)</label>
        </div>
        <div class="col-sm-1">
          <input id="standardForest" type="radio" class="form-check-input" value="forest"
                 formControlName="standardProject"
          >
          <label class="custom-control-label text-white" for="standardForest">Forest ({{hasStandardTechnology() ? 16 : 20}}mc)</label>
        </div>
        <div *ngIf="standardTemperatureAvailable()" class = "col-sm-2">
          <input id="standardTemperature" type="radio" class="form-check-input" value="temperature"
                 formControlName="standardProject">
          <label class="custom-control-label text-white" for="standardTemperature">Temperature ({{hasStandardTechnology() ? 10 : 14}}mc)</label>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="canExchangeHeat()" class="form-check">
    <input id="heatExchange" (click)="resetAllInputs()" type="radio" class="form-check-input" value="exchangeHeat"
           formControlName="turn" [checked]="this.parentForm.value?.turn === 'exchangeHeat'">
    <label class="custom-control-label text-white" for="heatExchange">Exchange heat</label>

    <div *ngIf="this.parentForm.value?.turn === 'exchangeHeat'" class="form-group">
      <div class="form-row">
        <div class="col-sm-1">
          <input type="number" class="form-control form-control-sm" id="heatExchangeInput" formControlName="heatExchangeInput">
        </div>
      </div>
    </div>

  </div>

  <div *ngIf="sellCardsTurn()" class="form-check">
    <app-sell-cards [game]="game" [parentForm]="parentForm"></app-sell-cards>
  </div>

  <div *ngIf="unmiRtTurn()" class="form-check">
    <input id="unmiRtTurn" (click)="resetAllInputs()" type="radio" class="form-check-input" value="unmiRaiseRt"
           formControlName="turn">
    <label class="custom-control-label text-white" for="unmiRtTurn">UNMI raise RT (6MC)</label>
  </div>

  <div *ngIf="sellVpTurn()" class="form-check">
    <input id="sellVpTurn" (click)="resetAllInputs()" type="radio" class="form-check-input" value="sellVpTurn"
           formControlName="turn">
    <label class="custom-control-label text-white" for="sellVpTurn">Sell 1 VP for 5 MC</label>
  </div>

  <div *ngIf="skipTurn()" class="form-check">
    <input id="skipTurn" (click)="resetAllInputs()" type="radio" class="form-check-input" value="skipTurn"
           formControlName="turn" required [checked]="this.parentForm.value?.turn === 'skipTurn'">
    <label class="custom-control-label text-white" for="skipTurn">Finish turn</label>
  </div>

  <div *ngIf="confirmGameEndTurn()" class="form-check">
    <input id="confirmGameEnd" (click)="resetAllInputs()" type="radio" class="form-check-input" value="confirmGameEnd"
           formControlName="turn" required [checked]="this.parentForm.value?.turn === 'confirmGameEnd'">
    <label class="custom-control-label text-white" style="font-size: 20px" for="confirmGameEnd">Finish the game(sell all cards before!)</label>
  </div>

  <div *ngIf="isSubmitted && parentForm.invalid">
    <p>Please select either value</p>
  </div>

  <!-- Submit Button -->
  <button type="submit" class="btn btn-danger btn-lg btn-block">Select turn</button>
</form><!-- Form ends -->
