<div class="bg-danger mt-2 p-2 text-center text-white"
     *ngIf="errorMessage != null">
  {{errorMessage}}
</div>

<h1>Pick turn</h1>

<!-- Form starts -->
<form [formGroup]="parentForm" (submit)="submitForm(parentForm)" novalidate>

  <div *ngIf="blueActionTurn()" class="form-check">
    <input id="blueAction" (click)="clearInput()" type="radio" class="form-check-input" value="blueAction"
           formControlName="turn" [checked]="this.parentForm.value?.turn === 'blueAction'">
    <label class="custom-control-label text-white" for="blueAction">Perform action</label>

    <div *ngIf="parentForm.value?.turn === 'blueAction'" class="card-container">
      <ul class="myUL">
        <li *ngFor="let card of getActiveCards();" (click)="selectProject(card)"
            [ngClass]="selectedProjectClass(card)" class="filterDiv automated display">
          <app-card-template [card]="card"></app-card-template>
        </li>
      </ul>
    </div>

    <div *ngIf="canPlayExtraBlueAction()">
      <input id="extraBlueAction" (click)="clearInput()" type="radio" class="form-check-input" value="extraBlueAction"
             formControlName="turn" [checked]="this.parentForm.value?.turn === 'extraBlueAction'">
      <label class="custom-control-label text-white" for="extraBlueAction">Perform extra action</label>
    </div>

    <div *ngIf="parentForm.value?.turn === 'extraBlueAction'" class="card-container">
      <ul class="myUL">
        <li *ngFor="let card of getPlayedActiveCards();" (click)="selectProject(card)"
            [ngClass]="selectedProjectClass(card)" class="filterDiv automated display">
          <app-card-template [card]="card"></app-card-template>
        </li>
      </ul>
    </div>

    <div *ngIf="expectsCardActionInput()" class="card-container">
      <h1 class="text-white">Choose card to apply the effect </h1>

      <ul class="myUL">
        <li *ngFor="let card of getPlayerHandForAction();" (click)="addCardToActionTargetCards(card)"
            [ngClass]="getActionTargetCardClass(card)" class="filterDiv automated display">
          <app-card-template [card]="card"></app-card-template>
        </li>
      </ul>
    </div>

    <div *ngIf="expectsHeatActionInput()" class="card-container">
      <h1 class="text-white">How much heat to discard </h1>

      <div class="form-group">
        <div class="form-row">
          <div class="col-sm-1">
            <input type="number" class="form-control form-control-sm" id="heatInput" formControlName="heatInput">
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="expectsAddDiscardMicrobeInput()">
      <div class="form-group">
        <div class="form-row">
          <div class="col-sm-1">
            <input id="addMicrobe" type="radio" class="form-check-input" value="addMicrobe"
                   formControlName="addOrUseMicrobe"
                   [checked]="this.parentForm.value?.addOrUseMicrobe === 'addMicrobe'"
            >
            <label class="custom-control-label text-white" for="addMicrobe">Add microbe</label>
          </div>
          <div class="col-sm-1">
            <input id="useMicrobe" type="radio" class="form-check-input" value="useMicrobe"
                   formControlName="addOrUseMicrobe"
                   [checked]="this.parentForm.value?.addOrUseMicrobe === 'useMicrobe'"
            >
            <label class="custom-control-label text-white" for="useMicrobe">Use microbe</label>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="expectsExtremeColdFungusInput()">
      <div class="form-group">
        <div class="form-row">
          <div class="col-sm-1">
            <input id="gainPlant" type="radio" class="form-check-input" value="gainPlant"
                   formControlName="gainPlantOrMicrobe"
                   [checked]="this.parentForm.value?.gainPlantOrMicrobe === 'gainPlant'"
            >
            <label class="custom-control-label text-white" for="gainPlant">Gain plant</label>
          </div>
          <div class="col-sm-1">
            <input id="gainMicrobe" type="radio" class="form-check-input" value="gainMicrobe"
                   formControlName="gainPlantOrMicrobe"
                   [checked]="this.parentForm.value?.gainPlantOrMicrobe === 'gainMicrobe'"
            >
            <label class="custom-control-label text-white" for="gainMicrobe">Gain microbe</label>
          </div>
        </div>
      </div>

      <div *ngIf="this.parentForm.value?.gainPlantOrMicrobe === 'gainMicrobe'" class="card-container">
        <h1 class="text-white">Put microbe on</h1>

        <ul class="myUL">
          <li *ngFor="let card of getPlayerHandForAction();" (click)="addCardToActionTargetCards(card)"
              [ngClass]="getActionTargetCardClass(card)" class="filterDiv automated display">
            <app-card-template [card]="card"></app-card-template>
          </li>
        </ul>
      </div>
    </div>

  </div>

  <div *ngIf="plantForestTurn()" class="form-check">
    <input id="plantForest" (click)="clearInput()" type="radio" class="form-check-input" value="plantForest"
           formControlName="turn" [checked]="this.parentForm.value?.turn === 'plantForest'">
    <label class="custom-control-label text-white" for="plantForest">Plant forest(required)</label>
  </div>

  <div *ngIf="increaseTemperatureTurn()" class="form-check">
    <input id="increaseTemperature" (click)="clearInput()" type="radio" class="form-check-input" value="increaseTemperature"
           formControlName="turn" [checked]="this.parentForm.value?.turn === 'increaseTemperature'">
    <label class="custom-control-label text-white" for="increaseTemperature">Increase temperature(required)</label>
  </div>

  <div *ngIf="standardProjectTurn()" class="form-check">
    <input id="standardProject" (click)="clearInput()" type="radio" class="form-check-input" value="standardProject"
           formControlName="turn" [checked]="this.parentForm.value?.turn === 'standardProject'">
    <label class="custom-control-label text-white" for="standardProject">Standard Project</label>

    <div *ngIf="this.parentForm.value?.turn === 'standardProject'" class="form-group" style="margin-left: 20px">
      <div class="form-row">
        <div class="col-sm-1">
          <input id="standardOcean" type="radio" class="form-check-input" value="ocean"
                 formControlName="standardProject"
                 [checked]="this.parentForm.value?.standardProject === 'ocean'"
          >
          <label class="custom-control-label text-white" for="standardOcean">Ocean (15mc)</label>
        </div>
        <div class="col-sm-1">
          <input id="standardForest" type="radio" class="form-check-input" value="forest"
                 formControlName="standardProject"
                 [checked]="this.parentForm.value?.standardProject === 'forest'"
          >
          <label class="custom-control-label text-white" for="standardForest">Forest (20mc)</label>
        </div>
        <div class="col-sm-2">
          <input id="standardTemperature" type="radio" class="form-check-input" value="temperature"
                 formControlName="standardProject"
                 [checked]="this.parentForm.value?.standardProject === 'temperature'"
          >
          <label class="custom-control-label text-white" for="standardTemperature">Temperature (14mc)</label>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="sellCardsTurn()" class="form-check">
    <app-sell-cards (click)="clearInput()" [game]="game" [parentForm]="parentForm"></app-sell-cards>
  </div>

  <div *ngIf="skipTurn()" class="form-check">
    <input id="skipTurn" (click)="clearInput()" type="radio" class="form-check-input" value="skipTurn"
           formControlName="turn" required [checked]="this.parentForm.value?.turn === 'skipTurn'">
    <label class="custom-control-label text-white" for="skipTurn">Skip turn</label>
  </div>

  <div *ngIf="isSubmitted && parentForm.invalid">
    <p>Please select either value</p>
  </div>

  <!-- Submit Button -->
  <button type="submit" class="btn btn-danger btn-lg btn-block">Select turn</button>
</form><!-- Form ends -->
