<div class="bg-danger mt-2 p-2 text-center text-white"
     *ngIf="errorMessage != null">
  {{errorMessage}}
</div>

<h1 style="text-align: center">Recent games</h1>

<table class="table table-dark">
  <thead>
  <tr>
    <th>#</th>
    <th class="board-link">LINK</th>
    <th>PLAYERS</th>
    <th>POINTS</th>
    <td>TURNS</td>
    <td>DATE</td>
    <td>CRISIS</td>
  </tr>
  </thead>
  <tbody>
  <div *ngIf="loading" style="margin-top: 20px; margin-left: 46px">
    <div class="loading"></div>
    <div class="text-white launching-text-box">Loading</div>
  </div>
  <tr *ngFor="let record of recentGames; let i = index;">
    <td>{{i + 1}}</td>
    <td class="board-link"><a href="{{getPlayerLink(record.uuid)}}" class="text-warning" style="margin-left: 5px; font-weight: bold; font-size: 20px">{{record.playerName}}</a></td>
    <td>{{record.playerCount}}</td>
    <td>{{record.victoryPoints}}</td>
    <td>{{record.turns}}</td>
    <td >{{record.date}}</td>
    <td>{{record.isCrisis ? 'CRISIS' : ''}}</td>
  </tr>
  </tbody>
</table>

<button type="button" class="btn btn-warning btn-lg back-button" routerLink="/">Main Menu</button>
