<div class="bg-danger mt-2 p-2 text-center text-white"
     *ngIf="errorMessage != null">
  {{errorMessage}}
</div>

<div class="sell-cards-display" [ngClass]="this.dynamicClasses()">
  {{sellCardsService?.cardsToCell ? sellCardsService?.cardsToCell.length : 0}} / {{game.player.hand.length - 10}}
</div>

<!-- Form starts -->
<form [formGroup]="parentForm" (submit)="submitForm(parentForm)" novalidate>


  <div *ngIf="sellCardsTurn()" class="form-check">
    <h3 class="text-white">Max 10 cards can be left in hand(Sell {{game.player.hand.length - 10}})</h3>
    <app-sell-cards [game]="game" [parentForm]="parentForm" [finalTurn]="true"></app-sell-cards>
  </div>

  <!-- Submit Button -->
  <button type="submit" class="btn btn-danger btn-lg btn-block">Select turn</button>
</form><!-- Form ends -->
