.card-cost-transition {
  position: absolute;
  background-image: url(../../assets/images/misc/cost-transition-arrow.png);
  width: 14px;
  height: 21px;
  left: 9px;
  top: 40px;
  z-index: 2;
}
.card-old-cost {
  transform: scale(0.6);
  filter: grayscale(60%);
  top: 130px;
  left: 1px;
  position: absolute;
}

.corporation-name {
  font-size:34px;
  width:140px;
  height: 40px;
  text-align: center;
  margin-top:5px;
  border:2px solid black;
  margin-left:8px;
  background: #e6e600;
  box-shadow: 6px 6px 6px grey;
  border-radius:2px;
}
