<div class="app-container">
  <div class="list-container">
    <ul class="myUL">

      <!--1-->
      <li *ngFor="let item of getProjectCards(); let i = index"
          class="filterDiv automated buildingTag jovianTag standard reqs display" data-oxygen="5">
        <div class="title background-color-automated ">{{ item.name }}</div>
        <div class="price">8</div>

        <div *ngIf="item.tags[0]" [ngClass]="getTagClasses(item, 0)" class="tag tag1 tag-building "></div>
        <div *ngIf="item.tags[1]" [ngClass]="getTagClasses(item, 1)" class="tag tag2 tag-building "></div>
        <div *ngIf="item.tags[2]" [ngClass]="getTagClasses(item, 2)" class="tag tag3 tag-building "></div>

        <div class="number">#001</div>
        <div class="content ">
          <div class="points points-big ">2</div>
          <div class="requirements requirements-max ">max 5% O2</div>
          <div class="description ">
            {{ item.description }}
          </div>
        </div>
      </li>

    </ul>
  </div>
</div>
