<div class="list-container">

  <div class="form-check form-check-inline">
    <button type="button" class="btn btn-warning btn-lg back-button" style="margin: 5px" routerLink="/">Main Menu</button>

    <div class="bg-warning text-dark new-game-label form-check-inline" style="width: 250px; border-radius: 5px;">
      <label title="Some corporations with buffed stats" for="buffed" style="margin-left: 2px"
             class="form-label"> Improved weak corporations</label>
      <input type="checkbox" (click)="improvedCorporationsClicked($event)" class="form-check-input" id="buffed" style="margin-left: 10px;">
    </div>

    <div class="bg-warning text-dark new-game-label form-check-inline" style="width: 250px; border-radius: 5px;">
      <label title="Some corporations with buffed stats" for="buffed" style="margin-left: 2px"
             class="form-label"> Discovery expansion cards</label>
      <input type="checkbox" [defaultChecked]="true" (click)="discoveryExpansionClicked($event)" class="form-check-input" id="discovery" style="margin-left: 10px;">
    </div>
  </div>

  <ul class="myUL">

    <!--1-->
    <li *ngFor="let card of getProjectCards();" class="filterDiv automated display">
      <app-card-template [card]="card"></app-card-template>
    </li>

  </ul>
</div>

