<div *ngIf="!card.corporation" [ngClass]="getBackgroundColorClass(card)" class="title" [ngStyle]="getNameStyle(card)">{{ card.name }}</div>
<div class="price" *ngIf="!card.corporation"> {{card.price}}</div>

<div *ngIf="discountApplicable(card)">
  <div class="card-cost-transition"></div>
  <div class="price card-old-cost">{{card.price - getDiscount(card)}}</div>
</div>

<div *ngIf="card.tags[0]" [ngClass]="getTagClasses(card, 0)" class="tag tag1 "></div>
<div *ngIf="card.tags[1]" [ngClass]="getTagClasses(card, 1)" class="tag tag2 "></div>
<div *ngIf="card.tags[2]" [ngClass]="getTagClasses(card, 2)" class="tag tag3 "></div>

<div *ngIf="card.corporation" class="corporationLabel" >CORPORATION</div>
<div *ngIf="!card.corporation" class="number">#{{getFormattedId(card)}}</div>

<div *ngIf="card.corporation" class="contentCorporation">
  <div *ngIf="card.winPointsInfo" class="points" style="font-size: 26px; margin-top: 258px;">
    {{card.winPointsInfo.points + '/' +
  (card.winPointsInfo.points >= card.winPointsInfo.resources ? '' : card.winPointsInfo.resources) }}
    <div class="{{card.winPointsInfo.type.toString().toLowerCase()}} resource"></div>
  </div>

  <div *ngIf="player && card.cardResource && showResources" class="points-player" style="margin-top: 263px;">
    <span class="points-counter">{{player.cardResources[card.id]}}</span>
    <span class="{{card.cardResource.toString().toLowerCase()}} resource player-resource"></span>
  </div>

  <div class="corporationEffectBox">
    <div *ngIf="isHelionCorporation(card)">
      <div class="corporationEffectBoxLabel">EFFECT</div>
      X
      <div class="resource heat"></div>
      :
      <div class="resource money">X</div>

      <div class="description" style="text-align:center;margin-top:0px;">
        (Effect: Your may use heat as MC. You may not use MC as heat.)
      </div>
    </div>

    <div *ngIf="isCelestiorCorporation(card)">
      <div class="corporationEffectBoxLabel">ACTION</div>

      <div class="red-arrow"></div>
      3x
      <span class="resource-tag tag-event"></span> *
      :
      <span class="card resource"></span>

      <div class="description" style="text-align:center;margin-top:0px;">
        (Action: Reveal the top 3 cards of the deck. Place the cards with an Event tag into your hand. Discard the rest.)
      </div>
    </div>

    <div *ngIf="isDevTechsCorporation(card)">
      <div class="corporationEffectBoxLabel">EFFECT</div>

      <div class="resource card card-green"></div>
      :
      <div class=" money resource ">-2</div>

      <div class="description" style="text-align:center;margin-top:0px;">
        (Effect: When you play a green card, you pay 2 MC less for it.)
      </div>
    </div>

    <div *ngIf="isLaunchStarCorporation(card)">
      <div class="corporationEffectBoxLabel">EFFECT</div>

      <div class="resource card card-blue"></div>
      :
      <div class=" money resource ">-3</div>

      <div class="description" style="text-align:center;margin-top:0px;">
        (Effect: When you play a blue card, you pay 3 MC less for it.)
      </div>
    </div>

    <div *ngIf="isThorgateCorporation(card)">
      <div class="corporationEffectBoxLabel">EFFECT</div>

      <div class="resource-tag tag-energy"></div>
      :
      <div class=" money resource ">-3</div>

      <div class="description" style="text-align:center;margin-top:0px;">
        (Effect: When you play an Energy tag, you pay 3 MC less for it.)
      </div>
    </div>

    <div *ngIf="isTeractorCorporation(card)">
      <div class="corporationEffectBoxLabel">EFFECT</div>

      <div class="resource-tag tag-earth"></div>
      :
      <div class=" money resource ">-3</div>

      <div class="description" style="text-align:center;margin-top:0px;">
        (Effect: When you play an Earth tag, you pay 3 MC less for it.)
      </div>
    </div>

    <div *ngIf="isTharsisCorporation(card)">
      <div class="corporationEffectBoxLabel">EFFECT</div>

      <div class="tile globals-box" style="height: 20px;">Research</div>
      :<br/> Draw +<span class="card resource "></span>Keep +<span class="card resource "></span>

      <div class="description" style="text-align:center;margin-top:0px;">
        (Effect: During the research phase, draw and keep one additional card.)
      </div>
    </div>

    <div *ngIf="isCredicorCorporation(card)">
      <div class="corporationEffectBoxLabel">EFFECT</div>

      <div class="resource card"></div>
      <div class="money resource ">20</div>+
      :
      <div class="money resource ">-4</div>

      <div class="description" style="text-align:center;margin-top:0px;">
        (Effect: When you play a card with a printed cost of 20 or more, get a 4 MC discount.)
      </div>
    </div>

    <div *ngIf="isArclightCorporation(card)">
      <div class="corporationEffectBoxLabel">EFFECT</div>

      <div class="tag-animal resource-tag"></div>
      /
      <div class="tag-plant resource-tag"></div>
      :
      <div class="animal resource"></div>

      <div class="description" style="text-align:center;margin-top:0px;">
        (Effect: When you play an Animal or Plant tag including this, add an Animal to this card. 1 VP for 2 animals on this card.)
      </div>
    </div>

    <div *ngIf="isPhobologCorporation(card)" style="margin-top: 10px;">
      <div class="corporationEffectBoxLabel">EFFECT</div>

      <div class="resource titanium"></div>
      : +
      <div class="resource money">1</div>

      <div class="description" style="text-align:center;margin-top:0px;">
        (Effect: Each Titanium you have is worth 1 MC extra.)
      </div>
    </div>

    <div *ngIf="isMiningGuildCorporation(card)" style="margin-top: 10px;">
      <div class="corporationEffectBoxLabel">EFFECT</div>

      <div class="production-box production-box-size1a" style="margin-left:20px;margin-top:-50px;">
        <div class="production steel"></div>
      </div>
      : +
      <div class="rating tile "></div>

      <div class="description" style="text-align:center;margin-top:0px;">
        (Effect: Each time you play a card with Steel income, excluding this, get 1 TR.)
      </div>
    </div>

    <div *ngIf="isSaturnSystemsCorporation(card)" style="margin-top: 10px;">
      <div class="corporationEffectBoxLabel">EFFECT</div>

      <div class="resource-tag tag-jupiter"></div>
      : +
      <div class="rating tile "></div>

      <div class="description" style="text-align:center;margin-top:0px;">
        (Effect: Each time you play a card with Jupiter tag, excluding this, get 1 TR.)
      </div>
    </div>

  </div>

  <div *ngIf="isHelionCorporation(card)">
    <div class="corporation-name">
      helion
    </div>
    <br/>
    <div class="production-box production-box-size3" style="margin-left:20px;margin-top:-50px;">
      <div class="production heat"></div>
      <div class="production heat"></div>
      <div class="production heat"></div>
    </div>
    <div class="resource money" style="margin-left:20px;">28</div>
    <div class="description" style="text-align:center;">
      (You start with 3 heat production and 28 MC.)
    </div>
  </div>

  <div *ngIf="isCelestiorCorporation(card)">
    <div class="corporation-name">
      celestior
    </div>
    <br/>
    <div class="resource money" style="margin-left:96px;">50</div>
    <div class="description" style="text-align:right; margin-left: 54px;">
      (You start with 50 MC.)
    </div>
  </div>

  <div *ngIf="isDevTechsCorporation(card)">
    <div class="corporation-name">
      devtechs
    </div>
    <br/>

    <div style="margin-top: -20px; margin-left: 35px;">
      <div class="resource money">40</div>

      <div class="resource card"></div>
      5
      :
      <div class="resource card card-green"></div>
    </div>

    <div class="description">
      (You start with 40 MC. Draw 5 cards from the deck and take all Green. Discard other.)
    </div>
  </div>

  <div *ngIf="isLaunchStarCorporation(card)">
    <div class="corporation-name" style="font-size: 30px;">
      launchstar
    </div>
    <br/>

    <div style="margin-top: -20px; margin-left: 70px;">
      <div class="resource money">36</div>
      <div class="resource card card-blue"></div>
    </div>

    <div class="description">
      (You start with 36 MC. Draw cards from the deck until Blue card is found. Discard other.)
    </div>
  </div>

  <div *ngIf="isThorgateCorporation(card)">
    <div class="corporation-name">
      thorgate
    </div>
    <br/>
    <div class="resource money" style="margin-left:55px;">45</div>
    <div class="production-box production-box-size1a" style="margin-left:20px;margin-top:-50px;">
      <div class="production heat"></div>
    </div>
    <div class="description" style="text-align:center;">
      (You start with 45 MC and 1 heat production.)
    </div>
  </div>

  <div *ngIf="isTeractorCorporation(card)">
    <div class="corporation-name">
      teractor
    </div>
    <br/>
    <div class="resource money" style="margin-left: 92px;">51</div>
    <div class="description" style="text-align:center; margin-left: 53px;">
      (You start with 51 MC.)
    </div>
  </div>

  <div *ngIf="isTharsisCorporation(card)">
    <div class="corporation-name" style="margin-left: 33px">
      tharsis
    </div>
    <br/>
    <div class="resource money" style="margin-left: 93px;">40</div>
    <div class="description" style="text-align:center; margin-left: 42px;">
      (You start with 40 MC.)
    </div>
  </div>

  <div *ngIf="isCredicorCorporation(card)">
    <div class="corporation-name" style="margin-left: 33px">
      credicor
    </div>
    <br/>
    <div class="resource money" style="margin-left: 93px;">48</div>
    <div class="description" style="text-align:center; margin-left: 42px;">
      (You start with 48 MC.)
    </div>
  </div>

  <div *ngIf="isArclightCorporation(card)">
    <div class="corporation-name" style="margin-left: -7px;">
      arclight
    </div>
    <br/>
    <div class="resource money" style="margin-left: 92px;">43</div>
    <div class="description" style="text-align:center; margin-left: 53px;">
      (You start with 43 MC.)
    </div>
  </div>

  <div *ngIf="isPhobologCorporation(card)">
    <div class="corporation-name">
      phobolog
    </div>
    <br/>
    <div class="resource money" style="margin-left:55px;">20</div>
    <div class="production-box production-box-size1a" style="margin-left:20px;margin-top:-50px;">
      <div class="production titanium"></div>
    </div>
    <div class="description" style="text-align:center;">
      (You start with 20 MC and 1 titanium production.)
    </div>
  </div>

  <div *ngIf="isMiningGuildCorporation(card)">
    <div class="corporation-name" style="margin-left: -5px;">
      mining
    </div>
    <br/>
    <div class="resource money" style="margin-left:55px;">27</div>
    <div class="production-box production-box-size1a" style="margin-left:20px;margin-top:-50px;">
      <div class="production steel"></div>
    </div>
    <div class="description" style="text-align:center;">
      (You start with 27 MC and 1 steel production.)
    </div>
  </div>

  <div *ngIf="isSaturnSystemsCorporation(card)">
    <div class="corporation-name" style="margin-left: -5px;">
      saturn
    </div>
    <br/>
    <div class="resource money" style="margin-left:55px;">24</div>
    <div class="production-box production-box-size1a" style="margin-left:20px;margin-top:-50px;">
      <div class="production titanium"></div>
    </div>
    <div class="description" style="text-align:center;">
      (You start with 24 MC and 1 titanium production.)
    </div>
  </div>

</div>

<div *ngIf="!card.corporation" class="content ">
  <div *ngIf="card.winPoints" class="points points-big">{{ card.winPoints }}</div>

  <div *ngIf="card.winPointsInfo" class="points" style="font-size: 26px;">
    {{card.winPointsInfo.points + '/' +
  (card.winPointsInfo.points >= card.winPointsInfo.resources ? '' : card.winPointsInfo.resources) }}
    <div class="{{card.winPointsInfo.type.toString().toLowerCase()}} resource"></div>
  </div>

  <div *ngIf="player && card.cardResource && showResources" class="points-player">
    <span class="points-counter">{{player.cardResources[card.id]}}</span>
    <span class="{{card.cardResource.toString().toLowerCase()}} resource player-resource"></span>
  </div>

  <div *ngIf="hasTagRequirements(card)" class="requirements">{{getTagRequirements(card)}}</div>

  <div *ngIf="hasTempRequirements(card)" [ngClass]="getTemperatureClass(card)" class="requirements">Temperature</div>
  <div *ngIf="hasOxygenRequirements(card)" [ngClass]="getOxygenClass(card)" class="requirements">Oxygen</div>
  <div *ngIf="hasOceanRequirement(card)" class="requirements">{{getOceanRequirementValue(card)}} Oceans</div>

  <div *ngIf="hasAmplifyGlobalRequirements(card) || actionSpecialDesign(card)">
    <div class="tile globals-box">Temperature Oxygen</div>
    : +/- 1 Color
  </div>

  <div *ngIf="hasAdvancedAlloysRequirements(card)">
    <div class="resource titanium"></div>
    : +
    <div class="resource money">1</div>
    <br>
    <div class="resource steel"></div>
    : +
    <div class="resource money">1</div>
  </div>

  <div *ngIf="actionScreeningTechnology(card)">
    <div class="red-arrow"></div>
    3x
    <span class="resource-tag tag-plant"></span> * / <span class="resource-tag tag-science"></span> *
    :
    <span class="card resource"></span>
  </div>

  <div *ngIf="actionAiCentral(card)">
    <div class="red-arrow"></div>
    <span class="card resource"></span>
    <span class="card resource"></span>
  </div>

  <div *ngIf="actionAnaerobicOrganisms(card)">
    <div class="tag-animal resource-tag"></div>
    /
    <div class="tag-plant resource-tag"></div>
    /
    <div class="tag-microbe resource-tag"></div>
    :
    <div class="microbe resource"></div>
    <div></div>
    <span class="card resource"></span> : -
    <div class="microbe resource "></div>
    <div class="microbe resource "></div>
    =
    <div class="money resource ">10</div>
  </div>

  <div *ngIf="actionAntiGravity(card)">
    : <span class="heat resource "></span><span class="heat resource "></span><span class="plant resource "></span><span
    class="plant resource "></span>
  </div>

  <div *ngIf="actionAquiferPumping(card)">
    <div class=" money resource ">10</div>
    (<span class="resource steel"></span>)
    <div class="red-arrow "></div>
    <div class="ocean-tile tile "></div>
  </div>

  <div *ngIf="actionArcticAlgae(card)">
    <div class="tile ocean-tile"></div>
    :
    <div class="resource plant "></div>
    <div class="resource plant "></div>
    <div class="resource plant "></div>
    <div class="resource plant "></div>
    <br>
  </div>

  <div *ngIf="actionArtificialJungle(card)">
    <span class="plant resource "></span>
    <div class="red-arrow "></div>
    <span class="card resource "></span>
  </div>

  <div *ngIf="actionAssemblyLines(card)">
    :
    <div class="red-arrow"></div>
    <div class="money resource ">1</div>
  </div>

  <div *ngIf="actionAssetLiquidation(card)">
    <div class="rating tile "></div>
    <span class="red-arrow " style="margin-left:5px; "></span>
    <span class="card resource "></span>
    <span class="card resource "></span>
    <span class="card resource "></span>
    <span style="font-size:14px; ">{{card.description.substring(0, card.description.indexOf('.'))}}</span>
  </div>

  <div *ngIf="actionAddAnimal(card)">
    <div class="red-arrow "></div>
    <div class="resource animal"></div>
  </div>

  <div *ngIf="actionBrainstormingSession(card)">
    <div class="red-arrow"></div>

    <div class="resource card card-green"></div>
    *
    :
    <div class=" money resource ">1</div>
    <div></div>
    /
    <div class="card-red resource"></div>
    *
    <div class="card-blue resource"></div>
    *
    :
    <span class="card resource"></span>
  </div>

  <div *ngIf="actionCaretakerContract(card)">
    8 <span class="heat resource "></span>
    <div class="red-arrow "></div>
    <span class="rating tile "></span>
  </div>

  <div *ngIf="actionCircuitBoard(card)">
    <div class="red-arrow"></div>
    <span class="card resource"></span>
  </div>

  <div *ngIf="actionCommunityGardens(card)">
    <div class="red-arrow"></div>
    <div class=" money resource ">2</div>
    <div></div>
    <div class=" plant resource "></div>
    *
  </div>

  <div *ngIf="actionCompostingFactory(card)">
    <div class="tile globals-box" style="height: 20px;">Sell cards</div>
    :
    <div class="money resource">+1</div>
  </div>

  <div *ngIf="actionConservedBiome(card)">
    <div class="red-arrow"></div>
    <div class="resource microbe"></div>
    * OR
    <div class="resource animal"></div>
    *
  </div>

  <div *ngIf="actionDecomposers(card)">
    <div class="resource-tag tag-plant"></div>
    /
    <div class="resource-tag tag-microbe"></div>
    /
    <div class="resource-tag tag-animal"></div>
    : <br>
    +
    <div class="resource microbe"></div>
    OR -
    <div class="resource microbe"></div>
    : <span class="card resource"></span>
  </div>

  <div *ngIf="actionDecomposingFungus(card)" style="width: 231px; margin-left: -5px;">
    <div class="microbe resource "></div>
    */
    <div class="animal resource "></div>
    *
    <div class="red-arrow "></div>
    <div class="plant resource"></div>
    <div class="plant resource"></div>
    <div class="plant resource"></div>
    <div></div>
    <span style="font-size:12px; ">{{card.description.substring(card.description.indexOf('.') + 1)}}</span>
    <div></div>
    <div class="resource microbe"></div>
    <div class="resource microbe"></div>
  </div>

  <div *ngIf="actionDevelopedInfrastructure(card)">
    <div class="money resource ">10</div>
    (<div class="money resource ">-5</div>:5<div class="resource card-blue"></div>)
    <div class="red-arrow "></div>
    <div class="tile temperature-tile "></div>
  </div>

  <div *ngIf="actionDevelopmentCenter(card)">
    <span class="heat resource "></span> <span class="heat resource "></span>
    <div class="red-arrow "></div>
    <span class="card resource "></span>
  </div>

  <div *ngIf="actionEarthCatapult(card)">
    : <span class="money resource ">-2</span>
  </div>

  <div *ngIf="actionEcologicalZone(card)">
    <div class="resource-tag tag-plant"></div>
    /
    <div class="resource-tag tag-animal"></div>
    :
    <div class="resource animal"></div>
  </div>

  <div *ngIf="actionEnergySubsidies(card)">
    <div class="resource-tag tag-energy"></div>
    :
    <div class="money resource ">-4</div>
    <span class="card resource "></span>
  </div>

  <div *ngIf="actionExtendedResources(card)">
    <div class="tile globals-box" style="height: 20px;">Research</div>
    : Keep +<span class="card resource "></span>
  </div>

  <div *ngIf="actionExtremeColdFungus(card)">
    <div class="red-arrow " style="margin-left:-9px"></div>
    <div class="plant resource "></div>
    <br>
    OR
    <div class="red-arrow "></div>
    <div class="microbe resource "></div>
    *
  </div>

  <div *ngIf="actionFarmersMarket(card)">
    <span class="money resource ">1</span>
    <div class="red-arrow "></div>
    <span class="plant resource "></span><span class="plant resource "></span>

  </div>

  <div *ngIf="actionFarmingCoops(card)">
    <div class="card resource "></div>
    <div class="red-arrow "></div>
    <div class="plant resource"></div>
    <div class="plant resource"></div>
    <div class="plant resource"></div>
    <div></div>
    <span style="font-size:12px; ">{{card.description.substring(card.description.indexOf('.') + 1)}}</span>
    <div></div>
    <div class="resource plant"></div>
    <div class="resource plant"></div>
    <div class="resource plant"></div>
  </div>

  <div *ngIf="actionFish(card)">
    <div class="tile ocean-tile "></div>
    :
    <div class="resource animal "></div>
  </div>

  <div *ngIf="actionGhgProduction(card)">
    <div class="red-arrow "></div>
    <div class="microbe resource "></div>
    <br>
    OR
    <div class="microbe resource "></div>
    <div class="microbe resource "></div>
    <div class="red-arrow "></div>
    <div class="tile temperature-tile "></div>
  </div>

  <div *ngIf="actionGreenHouses(card)">
    (1-4) X
    <div class="resource heat"></div>
    <div class="red-arrow "></div>
    (1-4) X
    <div class="resource plant"></div>
  </div>

  <div *ngIf="actionHerbivores(card)">
    <div class="tile oxygen-tile "></div>
    /
    <div class="tile ocean-tile "></div>
    /
    <div class="tile temperature-tile "></div>
    :
    <div class="resource animal "></div>
  </div>

  <div *ngIf="actionHydroElectric(card)">
    <div class=" money resource ">1</div>
    <div class="red-arrow"></div>
    <div class=" heat resource "></div>
    <div class=" heat resource "></div>
    <br/>
    <div class=" heat resource "></div>
    *
  </div>

  <div *ngIf="actionInterns(card)">
    <div class="tile globals-box" style="height: 20px;">Research</div>
    :<br/> Draw +<span class="card resource "></span><span class="card resource "></span>
  </div>

  <div *ngIf="actionInterplanetaryConference(card)">
    <div class="resource-tag tag-earth"></div>
    /
    <div class="resource-tag tag-jupiter"></div>
    :
    <div class="money resource ">-3</div>
    <span class="card resource "></span>
  </div>

  <div *ngIf="actionInterplanetaryRelations(card)">
    <div class="tile globals-box" style="height: 20px;">Research</div>
    :<br/> Draw +<span class="card resource "></span>Keep +<span class="card resource "></span>
  </div>

  <div *ngIf="actionIronWorks(card)">
    4 <span class="heat resource "></span>
    <div class="red-arrow "></div>
    <div class="tile oxygen-tile"></div>
  </div>

  <div *ngIf="actionLivestock(card)">
    <div class="tile temperature-tile "></div>
    :
    <div class="resource animal "></div>
  </div>

  <div *ngIf="actionMarsUniversity(card)">
    <div class="resource-tag tag-science"></div>
    : - <span class="card resource "></span> + <span class="card resource "></span><br/>
    OR
    <div class="resource-tag tag-science"></div>
    : -
    <div class="card resource ">
      <div class="card-icon tag-plant"></div>
    </div>
    + <span class="card resource "></span><span class="card resource "></span>
  </div>

  <div *ngIf="actionMatterManufactoring(card)">
    <span class="money resource ">1</span>
    <div class="red-arrow "></div>
    <span class="card resource "></span>
  </div>

  <div *ngIf="actionMediaGroup(card)">
    <div class="resource-tag tag-event"></div>
    :
    <div class="money resource ">-5</div>
  </div>

  <div *ngIf="actionNitriteReducting(card)">
    <div class="red-arrow "></div>
    <div class="microbe resource "></div>
    <br>
    OR 3
    <div class="microbe resource "></div>
    <div class="red-arrow "></div>
    <div class="tile ocean-tile "></div>
    <br/>
    <span style="font-size:12px; ">{{card.description.substring(card.description.indexOf('.') + 1)}}</span>
    <div class="microbe resource "></div>
    <div class="microbe resource "></div>
    <div class="microbe resource "></div>
  </div>

  <div *ngIf="actionOlympusConference(card)">
    <div class="resource-tag tag-science"></div>
    :
    <div class="card resource "></div>
  </div>

  <div *ngIf="actionOptimalAerobraking(card)">
    <div class="resource-tag tag-event"></div>
    : <span class="heat resource "></span><span class="heat resource "></span><span class="plant resource "></span><span
    class="plant resource "></span>
  </div>

  <div *ngIf="actionPhysicsComplex(card)">
    <div class="tile temperature-tile "></div>
    :
    <div class="resource science"></div>
  </div>

  <div *ngIf="actionPowerInfrastructure(card)">
    X
    <div class="heat resource "></div>
    <div class="red-arrow "></div>
    <div class="money resource ">X</div>
  </div>

  <div *ngIf="actionRecycledDetritus(card)">
    <div class="resource-tag tag-event"></div>
    :
    <div class="card resource"></div>
    <div class="card resource"></div>
  </div>

  <div *ngIf="actionRedraftedContracts(card)">
    -(1-3)
    <div class="card resource "></div>
    <div class="red-arrow "></div>
    +(1-3)
    <div class="card resource "></div>
  </div>

  <div *ngIf="actionRegolithEaters(card)">
    <div class="red-arrow "></div>
    <div class="microbe resource "></div>
    <br>
    OR
    <div class="microbe resource "></div>
    <div class="microbe resource "></div>
    <div class="red-arrow "></div>
    <div class="tile oxygen-tile "></div>
  </div>

  <div *ngIf="actionResearchOutpost(card)">
    : <span class="money resource ">-1</span>
  </div>

  <div *ngIf="actionRestructuredResources(card)">
    -
    <div class="plant resource "></div>
    : <span class="money resource ">-5</span>
  </div>

  <div *ngIf="actionSmallAnimals(card)">
    <div class="forest-tile tile "></div>
    :
    <div class="resource animal "></div>
  </div>

  <div *ngIf="actionSolarPunk(card)">
    <div class=" money resource ">15</div>
    (<span class="resource titanium"></span>=<span class="resource money">2</span>)
    <div class="red-arrow "></div>
    <div class="forest-tile tile "></div>
  </div>

  <div *ngIf="actionStandardTechnology(card)">
    <div class="tile globals-box">Standard projects</div>
    :
    <div class="money resource">-4</div>
  </div>

  <div *ngIf="actionSteelworks(card)">
    6
    <div class="heat resource"></div>
    <div class="red-arrow"></div>
    <div class="money resource">2</div>
    <div class="oxygen-tile tile "></div>
  </div>

  <div *ngIf="actionSymbioticFungus(card)">
    <div class="red-arrow "></div>
    <div class="microbe resource "></div>
    *
  </div>

  <div *ngIf="actionAddMicrobe(card)">
    <div class="red-arrow "></div>
    <div class="microbe resource "></div>
  </div>

  <div *ngIf="actionThinktank(card)">
    <div class="money resource">2</div>
    <div class="red-arrow"></div>
    <div class="card resource"></div>
  </div>

  <div *ngIf="actionUnitedPlanetary(card)">
    <div class="tile globals-box" style="height: 20px;">Research</div>
    :<br/> Draw +<span class="card resource "></span>Keep +<span class="card resource "></span>
  </div>

  <div *ngIf="actionViralEnhancers(card)">
    <div class="resource-tag tag-plant"></div>
    /
    <div class="resource-tag tag-microbe"></div>
    /
    <div class="resource-tag tag-animal"></div>
    : <br>
    <div class="plant resource"></div>
    /
    <div class="microbe resource"></div>
    * /
    <div class="animal resource"></div>
    *
  </div>

  <div *ngIf="actionVolcanicPools(card)">
    <div class=" money resource ">12</div>
    (<span class="resource-tag tag-energy"></span>=<span class="resource money">1</span>)
    <div class="red-arrow "></div>
    <div class="ocean-tile tile "></div>
  </div>

  <div *ngIf="actionWaterImport(card)">
    <div class=" money resource ">12</div>
    (<span class="resource titanium"></span>=<span class="resource money">1</span>)
    <div class="red-arrow "></div>
    <div class="ocean-tile tile "></div>
  </div>

  <div *ngIf="actionWoodBurningStoves(card)">
    4 <span class="plant resource "></span>(3*<span class="plant resource "></span>)
    <div class="red-arrow "></div>
    <div class="tile temperature-tile"></div>
    <span style="font-size:12px; ">{{card.description.substring(card.description.indexOf('.') + 1)}}</span><br/>
  </div>

  <div *ngIf="actionCapitalizeDescription(card)">
    <span style="font-size:14px; ">{{card.description}}</span>
  </div>

  <div *ngIf="actionLocalHeatTrapping(card)">
    -3
    <div class="resource heat" style="margin-right:10px;"></div>
    + &nbsp;&nbsp;4
    <div class="resource plant"></div>
    <br/>
    2
    <div class="resource animal"></div>
    * OR 2
    <div class="resource microbe"></div>
    *
  </div>

  <div *ngIf="actionTerraformingGanymede(card)">
    <div class="tile rating"></div>
    /
    <div class="resource-tag tag-jupiter"></div>
  </div>

  <div *ngIf="actionWorkCrews(card)">
    <span style="font-size:14px;">NEXT CARD: </span>
    <div class="resource money">-11</div>
  </div>

  <div *ngIf="actionEnergyStorage(card)">
    <div class="requirements">7 TR</div>
  </div>

  <span *ngIf="actionEosChasma(card)">
            <span class="resource animal "></span>*
          </span>

  <div *ngIf="actionFuelFactory(card)">
    -3
    <div class="resource heat" style="margin-right:10px;"></div>
  </div>

  <div *ngIf="actionFoodFactory(card)">
    -2
    <div class="resource plant"></div>
  </div>

  <div *ngIf="actionTallStation(card) || actionAutomatedFactories(card)">
    <div class="resource card card-green"></div>
    *(<=
    <div class="resource money">9</div>
    ) :
    <div class="resource money">-9</div>
  </div>

  <div *ngIf="actionTropicalIsland(card)">
    -5
    <div class="resource heat" style="margin-right:10px;"></div>
  </div>

  <span *ngIf="hasBonuses(card)">
            <span *ngFor="let k of getTemperatureBonuses(card); let last=last;">
              <span class="tile temperature-tile"></span>
              <br *ngIf="last && !manyBonuses(card)"/>
            </span>
            <span *ngFor="let k of getOceanBonuses(card); let last=last;">
              <span class="tile ocean-tile"></span>
              <br *ngIf="last && !actionLargeConvoy(card)"/>
            </span>
            <span *ngFor="let k of getOxygenBonuses(card); let last=last;">
              <span class="tile oxygen-tile"></span>
              <br *ngIf="last"/>
            </span>
            <span *ngFor="let k of getForestBonuses(card); let last=last;">
              <span class="tile forest-tile"></span>
              <br *ngIf="last"/>
            </span>
            <span *ngFor="let k of getTerraformingBonuses(card); let last=last;" style="font-size: 30px;">
              {{getTerraformingBonusSign(card)}}<span class="tile rating"></span>
              <br *ngIf="last"/>
            </span>
            <span *ngFor="let k of getPlantBonuses(card); let last=last;">
              <span class="resource plant"></span>
              <br *ngIf="last"/>
            </span>
            <span *ngFor="let k of getHeatBonuses(card); let last=last;">
              <span class="resource heat"></span>
              <br *ngIf="last"/>
            </span>
            <span *ngFor="let k of getCardBonuses(card); let last=last;">
              <span class="resource card"></span>
              <br *ngIf="last"/>
            </span>
            <div *ngIf="hasMcBonus(card)" class="resource money">{{getMcBonus(card)}}</div>
          </span>

  <div *ngIf="hasIncomes(card)" class="production-box production-box-size3a">
            <span *ngFor="let income of getIncomes(card);">
              {{income.value > 1 && income.type !== 'MC' ? income.value : ''}}
              <span class="production"
                    [ngClass]="getIncomeClass(income)">{{income.type === 'MC' ? income.value : ''}}</span>
            </span>
  </div>

  <div *ngIf="actionAstrofarm(card)">
    2
    <div class="resource microbe "></div>
    *
  </div>

  <div *ngIf="actionHeatEarthIncome(card)">
    <div class="production-box production-box-size2a">
      <div class="production heat"></div>
      /
      <div class="resource-tag production-tag tag-earth"></div>
    </div>
  </div>

  <div *ngIf="actionMcEarthIncome(card)">
    <div class="production-box production-box-size2a">
      <div class="production money">1</div>
      /
      <div class="resource-tag production-tag tag-earth"></div>
    </div>
  </div>

  <div *ngIf="actionPlantPlantIncome(card)">
    <div class="production-box production-box-size2a">
      <div class="production plant"></div>
      /
      <div class="resource-tag production-tag tag-plant"></div>
    </div>
  </div>

  <div *ngIf="actionMcScienceIncome(card)">
    <div class="production-box production-box-size2a">
      <div class="production money">1</div>
      /
      <div class="resource-tag production-tag tag-science"></div>
    </div>
  </div>

  <div *ngIf="actionMc2BuildingIncome(card)">
    <div class="production-box production-box-size2a">
      <div class="production money">1</div>
      / 2
      <div class="resource-tag production-tag tag-building"></div>
    </div>
  </div>

  <div *ngIf="actionMcEnergyIncome(card)">
    <div class="production-box production-box-size2a">
      <div class="production money">1</div>
      /
      <div class="resource-tag production-tag tag-energy"></div>
    </div>
  </div>

  <div *ngIf="actionMcSpaceIncome(card)">
    <div class="production-box production-box-size2a">
      <div class="production money">1</div>
      /
      <div class="resource-tag production-tag tag-space"></div>
    </div>
  </div>

  <div *ngIf="actionHeatSpaceIncome(card)">
    <div class="production-box production-box-size2a">
      <div class="production heat"></div>
      /
      <div class="resource-tag production-tag tag-space"></div>
    </div>
  </div>

  <div *ngIf="actionMcEventIncome(card)">
    <div class="production-box production-box-size2a">
      <div class="production money">1</div>
      /
      <div class="resource-tag production-tag tag-event"></div>
    </div>
  </div>

  <div *ngIf="actionHeatEnergyIncome(card)">
    <div class="production-box production-box-size2a">
      <div class="production heat"></div>
      /
      <div class="resource-tag production-tag tag-energy"></div>
    </div>
  </div>

  <div *ngIf="actionPlantMicrobeIncome(card)">
    <div class="production-box production-box-size2a">
      <div class="production plant"></div>
      /
      <div class="resource-tag production-tag tag-microbe"></div>
    </div>
  </div>

  <div *ngIf="actionMcForestIncome(card)">
    <div class="production-box production-box-size2a">
      <div class="production money">1</div>
      /
      <div class="forest-tile tile"></div>
    </div>
  </div>

  <div *ngIf="actionBiomassCombustors(card)">
    -2
    <div class="resource plant" style="margin-right:10px;"></div>
  </div>

  <div *ngIf="actionBuildingIndustries(card)">
    -4
    <div class="resource heat" style="margin-right:10px;"></div>
  </div>

  <div *ngIf="actionNitrogenRichAsteroid(card)">
    3
    <div class="tag-plant resource-tag"></div>
    : 4
    <div class="resource plant"></div>
  </div>

  <div *ngIf="actionImportedHydrogen(card)">
    <span>3</span>
    <div class="resource plant "></div>
    OR <span>3</span>
    <div class="resource microbe "></div>
    * OR <span>2</span>
    <div class="resource animal "></div>
    *
  </div>

  <div *ngIf="actionImportedNitrogen(card)">
    3
    <div class="microbe resource"></div>
    * 2
    <div class="animal resource"></div>
    *
  </div>

  <div *ngIf="actionLargeConvoy(card)">
    <span>5</span>
    <div class="resource plant "></div>
    OR <span>3</span>
    <div class="resource animal "></div>
    *
  </div>

  <div class="description ">
    ({{ card.description }})
  </div>
</div>
