<button type="button" class="btn btn-warning btn-lg back-button"  routerLink="/">Main Menu</button>

<div class="rules text-black">
  <div class="rules-body" >
    <h1>Crisis Expansion Rules (1 player now, 2-4 players soon)</h1>
    <ol>
      <li>Every round you open a new Crisis card and apply <span class="text-white">Immediate</span> effect.</li>
      <li>Every round for every old Crisis card you still have in play, apply <span class="text-white">Persistent</span> effect.</li>
      <li>To remove a Crisis card you need to fulfill the goal N times. N is depicted in a circle. For 1 player it is usually 1-2. For example you need to play a special Tag or a card of certain Color.</li>
      <li>Every start of the round if any of your Temperature/Oxygen/Ocean parameters are <span style="color: yellow">Yellow</span> or <span style="color: red">Red</span> you will have Detriment effects. You can find them on the right side from the Mars.</li>
      <li>When there is 4 turns left you will get a special Crisis card called <span class="text-white">"Dwindling Supplies"</span>. From now on, once you terraform the Mars, you <span class="bg-success">WIN</span>.</li>
      <li>You <span class="bg-danger">lose</span> if in the end of the round any parameter is still <span style="background-color: purple">Purple</span>. If you run out of Crisis cards (number in the left upper corner - if it shows 0, this is your last round, be quick!).
        You also <span class="bg-danger">lose</span> if you need to reduce Temperature/Oxygen/Ocean, but you can't reduce them anymore.</li>
      <li>You <span class="bg-success">WIN</span> if after getting a Crisis "Dwindling Supplies" card you terraform the Mars</li>
      <li>When you have <span class="text-white">"Dwindling Supplies"</span> in play, you can spend 1 VP to get 5 MC. This will help you a lot, but will reduce your final result. When you start to learn this game - use this option all the time. </li>
      <li>In the end of each round you are also able to spend 2 VP to remove any token from any Crisis card - sometimes this can also help. </li>
      <li><span class="text-white">Spending Heat and Plants in 3rd phase is OPTIONAL</span></li>
    </ol>
  </div>
</div>
