

<div class="bg-danger mt-2 p-2 text-center text-white"
     *ngIf="errorMessage != null">
  {{errorMessage}}
</div>




<div [formGroup]="parentForm">
  <input id="sellCards" (click)="resetAllInputs()" type="radio" class="form-check-input" value="sellCards" formControlName="turn">
  <label class="custom-control-label text-white" for="sellCards">{{this.mulliganTurn ? 'Exchange cards' : 'Sell cards'}}</label>

  <div *ngIf="this.parentForm.value?.turn === 'sellCards'" class="card-container">
    <ul class="myUL">
      <li *ngFor="let card of getPlayerHand();" (click)="clickSellCard(card)" [ngClass]="selectedSellCardClass(card)" class="filterDiv automated display">
        <app-card-template [card]="card"></app-card-template>
      </li>
    </ul>
  </div>
</div>
