<div class="bg-danger mt-2 p-2 text-center text-white"
     *ngIf="errorMessage != null">
  {{errorMessage}}
</div>


<!-- Form starts -->
<form [formGroup]="parentForm">

  <input id="blueRedProject" (click)="resetAllInputs()" type="radio" class="form-check-input" value="blueRedProject"
         formControlName="turn">
  <label class="custom-control-label text-white" for="blueRedProject">Build blue/red project</label>

  <div *ngIf="parentForm.value?.turn === 'blueRedProject'" class="card-container">
    <ul class="myUL">
      <li *ngFor="let card of getBlueRedPlayerHand();" (click)="clickProjectToBuild(card)"
          [ngClass]="blueRedCardClass(card)" class="filterDiv automated display">
        <app-card-template [card]="card" [game]="game" [player]="game?.player" [showDiscount]="true"
                           [tagInput]="expectsTagInput() ? tagInput : -1"></app-card-template>
      </li>
    </ul>

    <div class="form-group" *ngIf="selectedProject">
      <div class="form-row">
        <div class="col-sm-1">
          <label for="mcInput" class="text-white">Mc</label>
          <input type="number" class="form-control form-control-sm" id="mcInput" formControlName="mcPrice">
        </div>
      </div>

      <div *ngIf="canPayWithHeat()" class="form-row">
        <div class="col-sm-1">
          <label for="heatInput" class="text-white">Heat</label>
          <input type="number" class="form-control form-control-sm" id="heatInput" formControlName="heatPrice">
        </div>
      </div>

      <div *ngIf="expectsTagInput()">
        <h1 class="text-white">Choose tag to put on a card: </h1>

        <div *ngFor='let tag of getAllTagsArray(); let i = index;' class="form-check form-check-inline">
          <div class="tag" [ngClass]="getTagClasses(i)">
            <input class="form-check-input" (click)="clickTagChoice(i)" type="radio" [checked]="tagInput === i">
          </div>
        </div>
      </div>

      <div class="form-row" *ngIf="anaerobicMicroorganismsCardAction()">
        <div class="col-sm-1">
          <label for="anaerobicMicroorganisms" class="text-white">Anaerobic Microorganisms</label>
          <input type="checkbox" (change)="anaerobicMicroorganismsClicked($event)" class="custom-control-input"
                 id="anaerobicMicroorganisms" formControlName="anaerobicMicroorganisms">
        </div>
      </div>

      <div *ngIf="infrastructureCargoShipsInput()" class="custom-control-input">
        <input type="checkbox" id="cargoShips" formControlName="cargoShipsHeat">
        <label for="cargoShips" class="custom-control-label text-white" style="margin-left: 10px">Cargo ships - take heat (default = plants)</label>
      </div>

      <div class="form-row" *ngIf="expectsBiomedicalImportsInput()">
        <h1 class="text-white">Choose <span class="text-danger">Oxygen</span> or <span
          class="text-danger">Phase Upgrade</span></h1>

        <div class="form-check form-check-inline">
          <label for="biomedicalImportsOxygen" class="text-white">Increase Oxygen</label>
          <input type="radio" class="form-check-input" id="biomedicalImportsOxygen" value="oxygen"
                 formControlName="biomedicalImports"
                 [checked]="this.parentForm.value.biomedicalImports === 'oxygen'">
        </div>
        <div class="form-check form-check-inline">
          <label for="biomedicalImportsPhase" class="text-white">Upgrade Phase</label>
          <input type="radio" class="form-check-input" id="biomedicalImportsPhase" value="phase"
                 formControlName="biomedicalImports"
                 [checked]="this.parentForm.value.biomedicalImports === 'phase'">
        </div>
      </div>

      <div class="form-row" *ngIf="restructuredResourcesCardAction()">
        <div class="col-sm-1">
          <label for="restructuredResources" class="text-white">Restructured Resources</label>
          <input type="checkbox" (change)="restructuredResourcesClicked($event)" class="custom-control-input"
                 id="restructuredResources" formControlName="restructuredResources">
        </div>
      </div>

      <div *ngIf="marsUniversityEffect()" class="card-container">
        <h1 class="text-white">Mars University Discard Cards: </h1>

        <ul class="myUL">
          <li *ngFor="let card of getPlayerHandWithoutSelectedCard();" (click)="clickProjectToDiscard(card)"
              [ngClass]="selectedProjectToDiscardClass(card)" class="filterDiv automated display">
            <app-card-template [card]="card" [player]="game?.player"></app-card-template>
          </li>
        </ul>

        <label for="marsUniversityDiscardLess" class="text-white">Discard fewer cards</label>
        <input type="checkbox" class="custom-control-input" id="marsUniversityDiscardLess"
               formControlName="marsUniversityDiscardLess">

      </div>

      <div *ngIf="syntheticCatastropheEffect()" class="card-container">
        <h1 class="text-white">Synthetic Catastrophe Retrieve Card: </h1>

        <ul class="myUL">
          <li *ngFor="let card of getRedPlayedCards();" (click)="clickProjectToDiscard(card)"
              [ngClass]="selectedProjectToDiscardClass(card)" class="filterDiv automated display">
            <app-card-template [card]="card" [player]="game?.player"></app-card-template>
          </li>
        </ul>
      </div>

      <div *ngIf="expectsDecomposersInput()">
        <h1 class="text-white">Decomposers effect: </h1>
        <div class="form-group">
          <div class="form-row">
            <div class="col-sm-1">
              <label class="custom-control-label text-white" for="takeMicrobes">Take microbes</label>
              <input id="takeMicrobes" type="number" class="form-control form-control-sm"
                     formControlName="takeMicrobes"
              >
            </div>
            <div *ngIf="decomposersCanTakeCard()" class="col-sm-1">
              <label class="custom-control-label text-white" for="takeCards">Take cards</label>
              <input id="takeCards" type="number" class="form-control form-control-sm"
                     formControlName="takeCards"
              >
            </div>
          </div>
        </div>
      </div>

      <div *ngIf="viralEnhancersEffect()" class="card-container">
        <h1 class="text-white">Viral Enhancers choice: </h1>

        <div class="form-group">
          <div class="form-row">
            <div class="col-sm-1">
              <label for="plantsInput" class="text-white">Take plants</label>
              <input type="number" class="form-control form-control-sm" id="plantsInput"
                     formControlName="viralEnhancersPlantInput">
            </div>
          </div>

          <h1 class="text-white">Take microbes and animals</h1>

          <ul class="myUL">
            <li *ngFor="let card of getMicrobeAnimalPlayedCardsWithSelected();"
                (click)="clickViralEnhancersTargetCard(card)"
                [ngClass]="selectedViralEnhancersCardClass(card)" class="filterDiv automated display">
              <app-card-template [card]="card" [player]="game?.player" [showResources]="true"></app-card-template>
            </li>
          </ul>

        </div>
      </div>

      <app-upgrade-phase-template *ngIf="upgradePhaseCardEffect()" [phaseInput]="phaseInput"
                                  [phaseUpgradeTypeInput]="phaseUpgradeType"
                                  [game]="game"
                                  [phases]="getUpgradePhasesArray()"
                                  (phaseOutput)="updatePhaseInput($event)"
                                  (phaseUpgradeTypeOutput)="updatePhaseUpgradeTypeInput($event)"
      >
      </app-upgrade-phase-template>

      <app-upgrade-phase-template *ngIf="upgradeExtraPhaseCardEffect()" [phaseInput]="extraPhaseInput"
                                  [phaseUpgradeTypeInput]="extraPhaseUpgradeType"
                                  [game]="game"
                                  [phases]="getUpgradePhasesArray()"
                                  (phaseOutput)="updateExtraPhaseInput($event)"
                                  (phaseUpgradeTypeOutput)="updateExtraPhaseUpgradeTypeInput($event)"
      >
      </app-upgrade-phase-template>

      <div *ngIf="expectsResourceInputOnBuild()">
        <h1 class="text-white">Choose card to put resource on </h1>

        <ul class="myUL">
          <li *ngFor="let card of getResourcePlayedCards();" (click)="onBuildResourceChoice = card"
              [ngClass]="onBuildResourceChoice && onBuildResourceChoice.id == card.id ? 'clicked-card': ''"
              class="filterDiv automated display">
            <app-card-template [card]="card" [player]="game?.player" [showResources]="true"></app-card-template>
          </li>
        </ul>
      </div>

      <div *ngIf="importedHydrogenEffect() || cryogenicShipmentEffect()" class="card-container">
        <div class="form-group">
          <div *ngIf="importedHydrogenEffect()" class="form-check">
            <label for="importedHydrogenPlants" class="text-white">Take plants</label>
            <input type="radio" class="form-check-input" id="importedHydrogenPlants" value="plants"
                   formControlName="importedHydrogenForm"
                   [checked]="parentForm.value.importedHydrogenForm === 'plants'">
          </div>

          <div class="form-check">
            <input id="takeMicrobeAnimal" type="radio" class="form-check-input" value="microbeAnimal"
                   formControlName="importedHydrogenForm"
                   [checked]="parentForm.value.importedHydrogenForm === 'microbeAnimal'">
            <label class="custom-control-label text-white" for="takeMicrobeAnimal">Take microbes/animals</label>
          </div>

          <div *ngIf="cryogenicShipmentEffect()" class="form-check">
            <input id="skipMicrobeAnimal" type="radio" class="form-check-input" value="skipMicrobeAnimal"
                   formControlName="importedHydrogenForm"
                   [checked]="parentForm.value.importedHydrogenForm === 'skipMicrobeAnimal'">
            <label class="custom-control-label text-white" for="skipMicrobeAnimal">Skip microbes/animals</label>
          </div>


          <ul class="myUL" *ngIf="parentForm.value.importedHydrogenForm === 'microbeAnimal'">
            <li *ngFor="let card of getMicrobeAnimalPlayedCards();" (click)="importedHydrogenMicrobeAnimal = card"
                [ngClass]="importedHydrogenMicrobeAnimal && importedHydrogenMicrobeAnimal.id == card.id ? 'clicked-card': ''"
                class="filterDiv automated display">
              <app-card-template [card]="card" [player]="game?.player"></app-card-template>
            </li>
          </ul>

        </div>
      </div>

      <div *ngIf="importedNitrogenEffect()" class="card-container">
        <h2 class="text-white">Imported Nitrogen choose Animals and Microbes</h2>
        <div class="form-group">
          <ul class="myUL">
            <li *ngFor="let card of getMicrobeAnimalPlayedCards();" (click)="importedNitrogenClick(card)"
                [ngClass]="importedNitrogenCardClass(card)"
                class="filterDiv automated display">
              <app-card-template [card]="card" [player]="game?.player" [showResources]="true"></app-card-template>
            </li>
          </ul>
        </div>
      </div>

      <div *ngIf="largeConvoyEffect()" class="card-container">
        <div class="form-group">
          <div class="form-check">
            <label for="largeConvoyPlants" class="text-white">Take plants</label>
            <input type="radio" class="form-check-input" id="largeConvoyPlants" value="plants"
                   formControlName="largeConvoyForm"
                   [checked]="parentForm.value.largeConvoyForm === 'plants'">
          </div>

          <div class="form-check">
            <input id="takeAnimals" type="radio" class="form-check-input" value="animal"
                   formControlName="largeConvoyForm"
                   [checked]="parentForm.value.largeConvoyForm === 'animal'">
            <label class="custom-control-label text-white" for="takeAnimals">Take animals</label>
          </div>


          <ul class="myUL" *ngIf="parentForm.value.largeConvoyForm === 'animal'">
            <li *ngFor="let card of getAnimalPlayedCards();" (click)="largeConvoyAnimalCard = card"
                [ngClass]="largeConvoyAnimalCard && largeConvoyAnimalCard.id == card.id ? 'clicked-card': ''"
                class="filterDiv automated display">
              <app-card-template [card]="card" [player]="game?.player"></app-card-template>
            </li>
          </ul>

        </div>
      </div>

      <div *ngIf="localHeatTrappingEffect()" class="card-container">
        <div class="form-group">

          <ul class="myUL">
            <li *ngFor="let card of getMicrobeAnimalPlayedCards();" (click)="localHeatTrappingCard = card"
                [ngClass]="localHeatTrappingCard && localHeatTrappingCard.id == card.id ? 'clicked-card': ''"
                class="filterDiv automated display">
              <app-card-template [card]="card" [player]="game?.player"></app-card-template>
            </li>
          </ul>

        </div>
      </div>
    </div>
  </div>


</form><!-- Form ends -->
