.phase-1-description {
  margin-left: 10px;
  margin-top: 10px;
  font-size: 12px;
  text-align: center;
  align-content: center;
}

.phase-2-description {
  margin-left: 10px;
  font-size: 12px;
  text-align: center;
  align-content: center;
}

.phase-3-description {
  margin-left: 10px;
  font-size: 12px;
  text-align: center;
  align-content: center;
}

.phase-4-description {
  margin-left: 10px;
  font-size: 12px;
  text-align: center;
  align-content: center;
}

.phase-5-description {
  margin-left: 10px;
  margin-top: 10px;
  font-size: 12px;
  text-align: center;
  align-content: center;
}

.phase-bonus-description {
  margin-left: 5px;
  text-align: center;
  margin-top: 162px;
  font-size: 12px;
}

.phase-3-bonus-description {
  margin-left: 5px;
  text-align: center;
  margin-top: 151px;
  font-size: 12px;
}
