<div class="bg-danger mt-2 p-2 text-center text-white"
     *ngIf="errorMessage != null">
  {{errorMessage}}
</div>
<form [formGroup]="parentForm" (submit)="submitForm(parentForm)" novalidate>
  <div class="form-group col-6 mx-auto" style="margin-top: 100px;">

    <div class="bg-warning text-dark new-game-label" style="width: 250px; border-radius: 5px;">
      <label title="You may discard any number of initial cards to get the same amount of cards" for="improveWeakCorp"
             class="form-label">Improve weak corporations</label>
      <input type="checkbox" class="form-check-input" id="improveWeakCorp" style="margin-left: 10px;"
             formControlName="improveWeakCorp">
    </div>
    <div class="bg-warning text-dark new-game-label" style="width: 100px; border-radius: 5px; margin-top: 10px;">
      <label title="You may discard any number of initial cards to get the same amount of cards" for="mulliganChoice"
             class="form-label">Mulligan</label>
      <input type="checkbox" class="form-check-input" id="mulliganChoice" style="margin-left: 10px;"
             formControlName="mulligan">
    </div>

    <div class="bg-warning text-dark new-game-label" style="width: 200px; border-radius: 5px; margin-top: 10px;">
      <label for="discoveryChoice"
             class="form-label">Discovery Expansion</label>
      <input type="checkbox" class="form-check-input" id="discoveryChoice" style="margin-left: 10px;"
             formControlName="discovery">
    </div>
    <br/>

    <label for="choices" class="form-label bg-warning text-dark new-game-label text-big">Players</label>

    <div id="choices">
      <div class="form-check form-check-inline bg-warning" style="border-radius: 5px;">
        <label for="playerCount" class="form-label text-dark">1</label>
        <input id="playerCount" type="radio" class="form-check-input" value="1" formControlName="playerCount">
      </div>

      <div class="form-check form-check-inline bg-warning" style="border-radius: 5px;">
        <label for="playerCount2" class="form-label text-dark">2</label>
        <input id="playerCount2" type="radio" class="form-check-input" value="2" formControlName="playerCount">
      </div>

      <div class="form-check form-check-inline bg-warning" style="border-radius: 5px;">
        <label for="playerCount3" class="form-label text-dark">3</label>
        <input id="playerCount3" type="radio" class="form-check-input" value="3" formControlName="playerCount">
      </div>

      <div class="form-check form-check-inline bg-warning" style="border-radius: 5px;">
        <label for="playerCount4" class="form-label text-dark">4</label>
        <input id="playerCount4" type="radio" class="form-check-input" value="4" formControlName="playerCount">
      </div>
    </div>


    <div *ngFor="let item of getPlayerCountArray(); let i = index" style="margin-top: 15px;">
      <label for="playerName" class="form-label p-1 mb-2 bg-warning text-dark"
             style="border-radius: 5px;">Player {{item}} name</label>
        <label *ngIf="!this.parentForm.value.discovery" class="form-label p-1 mb-2 bg-warning text-dark"
               style="margin-left: 5px; border-radius: 5px;">Computer <input type="checkbox" [formControlName]="'computer' + item"/></label>

      <input type="text" class="form-control" id="playerName" [formControlName]="'playerName' + item">

    </div>

    <button type="submit" class="btn btn-warning btn-lg" style="margin-top: 10px">Create</button>
  </div>

</form>

<div *ngIf="playersPresent()" class="d-grid gap-2 col-6 mx-auto" style="margin-top: 10px;">
  <div *ngFor="let player of players" class="bg-warning">
    <a href="{{getPlayerLink(player.uuid)}}" class="link-primary">{{player.name}}</a>
  </div>
</div>
