table {
  border-collapse: collapse;
  margin: 0 auto;
  width: 500px;
}

.tables-container {
  display: flex; /* Используем flexbox для контейнера */
  justify-content: space-between; /* Размещаем таблицы внутри контейнера */
}

.left-table,
.right-table {
  width: 48%;
}

th, td {
  border: 1px solid black;
  padding: 10px;
  text-align: center;
}

.radio-container {
  text-align: center;
}

.radio-container input[type="radio"] {
  display: inline-block;
  margin: 10px;
}

.board-link {
  width: 100px;
}

.back-button {
  position: absolute;
  top: 20px;
  left: 20px;
}

.launching-text-box {
  margin-left: 30px;
  margin-top: -33px;
  background: unset;
  font-size: 20px;
  font-weight: bold;
}
