<h1 class="text-white">Production phase turn</h1>

<!-- Form starts -->
<form [formGroup]="parentForm" (submit)="submitForm(parentForm)" novalidate>

  <div *ngIf="collectIncomeTurn()" class="form-check">
    <input id="collectIncome" type="radio" class="form-check-input" value="collectIncome" formControlName="turn"
           required [checked]="this.parentForm.value?.turn === 'collectIncome'">
    <label class="custom-control-label text-white" for="collectIncome">Collect Income</label>

    <div *ngIf="hasDoubleCollectGreenCardBonus()" class="card-container">
      <ul class="myUL">
        <li *ngFor="let card of getGreenPlayedCards();" (click)="clickProjectToBuild(card)"
            [ngClass]="greenCardClass(card)" class="filterDiv automated display">
          <app-card-template [card]="card" [game]="game" [player]="game?.player" [showDiscount]="false"></app-card-template>
        </li>
      </ul>
    </div>
  </div>

  <!-- Submit Button -->
  <button type="submit" class="btn btn-danger btn-lg btn-block">Select turn</button>
</form><!-- Form ends -->
