.resource_item {
  display: flex;
  border-radius: 5px;
  vertical-align: top;
  font-family: Prototype;
  background: linear-gradient(rgba(0, 0, 0, 0.8) 20%, rgba(0, 0, 0, 0.3) 50%);
  color: #e6e1e1;
  margin-left: 10px;
  min-width: 70px;
  padding: 8px 0px 4px 8px;
  box-sizing: border-box;
}

.resource_item_stock {
  white-space: nowrap;
}

.resource_icon {
  width: 36px;
  height: 36px;
  display: inline-block;
  background-size: contain;
}

.resource_icon_card {
  width: 36px;
  height: 51px;
  display: inline-block;
  background-size: contain;
}

.player-info {
  border-radius: 8px;
}

.player-info .player-tags {
  display: flex;
  flex-flow: row;
  margin-left: 10px;
}

.player-info .player-tags .player-tags-main {
  display: flex;
  align-items: center;
  margin-left: 0;
}

.tag-display {
  display: flex;
  flex-flow: column;
  margin-right: 8px;
}

.tag-count {
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.6), 0 0 0 2px rgba(0, 0, 0, 0.3);
  position: relative;
  width: 40px;
  height: 40px;
  background-size: 42px 42px;
  background-position: -1px -1px;
  text-align: center;
  border-radius: 50%;
  background-color: white;
  margin-top: -6px;
  margin-left: 3px;
  box-sizing: content-box;
  z-index: 2;
}

.tag-vp {
  background: linear-gradient(#cc8b00, #805700, #805700) !important;
  background-position: 0px !important;
}
.tag-vp::after {
  position: absolute;
  content: "VP";
  font-family: Prototype;
  color: black;
  font-size: 20px;
  text-shadow: 0 0 5px darkorange;
  text-align: center;
  top: 3px;
  left: 7px;
}

.tag-size-big {
  margin-top: 0px;
  margin-left: 0px;
  background-position: -2px;
}

.tag-type-main {
  border-radius: 4px;
  border: none;
  width: 40px;
  height: 34px;
  background-size: 40px 34px;
}

.tag-count-display {
  color: #e8e8e8;
  text-align: center;
  font-size: 26px;
  font-family: Prototype;
  line-height: 1;
  text-shadow: 0 1px 1px black;
  margin-top: 11px;
}

.tag-tr {
  background-image: url(../../assets/images/resources/tr.png);
  background-size: 49px 38px !important;
  background-position: -4px -2px !important;
}

.tag-forest {
  background-image: url(../../assets/images/tags/forest.png);
  background-size: 42px 33px !important;
}

.resource_icon--megacredits {
  background-image: url(../../assets/images/megacredits/megacredit.png);
}

.resource_icon--cards {
  background-image: url(../../assets/images/resources/card.png);
}

.resource_icon--heat {
  background-image: url(../../assets/images/resources/heat.png);
}

.resource_icon--plants {
  background-image: url(../../assets/images/resources/plant.png);
}

.resource_icon--steel{
  background-image: url(../../assets/images/resources/steel.png);
}

.resource_icon--titanium{
  background-image: url(../../assets/images/resources/titanium.png);
}

.resource_icon--megacredits::after {
  position: absolute;
  content: "€";
  color: rgba(0, 0, 0, 0.3);
  font-style: normal;
  font-family: Arial;
  font-weight: bold;
  width: 36px;
  height: 36px;
  text-align: center;
  line-height: 36px;
}

.resource_item_stock_count {
  font-size: 30px;
  text-align: center;
  line-height: 1;
  text-shadow: 0 2px 2px black;
}

.resource_item_prod {
  border-radius: 10px 10px 0 0;
  color: #bb8760;
  text-shadow: 0 0 1px black;
  min-width: 40px;
  text-align: center;
}
.resource_item_prod_count {
  display: inline-block;
}
