<app-navbar [game]="game" [player]="getPlayerToShow()"></app-navbar>


<form [formGroup]="parentForm" class="view-choice">
  <div class="form-check">
    <input id="you" type="radio" class="form-check-input" value="You" formControlName="player" [checked]="true">
    <label class="custom-control-label text-white" for="you">
      You
    </label>
  </div>

  <div *ngFor="let otherPlayer of game?.otherPlayers; let i = index" class="form-check">
    <input id="opponent" type="radio" class="form-check-input" value="{{i}}"
           formControlName="player">
    <label class="custom-control-label text-white" for="opponent">
      Opponent {{i + 1}}
    </label>
  </div>
</form>

<div class="display-phase-container">
  <div *ngFor="let item of chosenPhases()" class="phaseDisplay display phase-{{item}}"
       [ngClass]="phaseDisplayStyles(item)"></div>
</div>


<div class="surface">
  <div class="tracker temperature_{{game? game.temperature : 0}}"></div>
  <div class="tracker oxygen_{{game ? game.oxygen : 0}}"></div>

  <div *ngIf="game?.phaseTemperature && game.phaseTemperature !== game.temperature && game?.phase === 2"
       class="tracker tracker-transparent temperature_{{game? game.phaseTemperature : 0}}"></div>

  <div *ngIf="game?.phaseOxygen !== null && game?.phaseOxygen !== game?.oxygen && game?.phase === 2"
       class="tracker tracker-transparent oxygen_{{game ? game.phaseOxygen : 0}}"></div>

  <div *ngIf="game?.phaseOceans !== null && game?.phaseOceans !== game?.oceans.length
      && game?.phase === 2"
       class="phase-ocean-tracker text-white"
  >
    {{game.oceans.length}}({{game.phaseOceans}}) <br/>
    <span style="font-size: 10px">(at phase start)</span>
  </div>

  <div *ngFor="let ocean of game?.oceans; let i = index" class="ocean-tracker ocean_{{i + 1}}">
    <div style="margin-top: 8px;"></div>
    <div *ngFor="let item of [].constructor(ocean.plants); let i = index" class="resource plant"></div>
    <div *ngIf="ocean.mc" class="resource money">{{ocean.mc}}</div>
    <div *ngIf="ocean.cards" class="resource card"></div>
  </div>
</div>

<div *ngIf="this.parentForm.value?.player === 'You'">
  <div class="bg-danger mt-2 p-2 text-center text-white"
       *ngIf="errorMessage != null">
    {{errorMessage}}
  </div>

  <div>
    <app-pick-corporation *ngIf="pickCorporationTurn()" (outputToParent)="GetOutputVal($event)"
                          [game]="game"></app-pick-corporation>
  </div>

  <div>
    <app-pick-phase *ngIf="pickPhaseTurn()" (outputToParent)="GetOutputVal($event)" [game]="game"></app-pick-phase>
  </div>

  <div>
    <app-first-phase *ngIf="firstPhaseTurn()" (outputToParent)="GetOutputVal($event)" [game]="game"
                     [nextTurns]="nextTurns"></app-first-phase>
  </div>

  <div>
    <app-second-phase *ngIf="secondPhaseTurn()" (outputToParent)="GetOutputVal($event)" [game]="game"
                      [nextTurns]="nextTurns"></app-second-phase>
  </div>

  <div>
    <app-third-phase *ngIf="thirdPhaseTurn()" (outputToParent)="GetOutputVal($event)" [game]="game"
                     [nextTurns]="nextTurns"></app-third-phase>
  </div>

  <div>
    <app-fourth-phase *ngIf="fourthPhaseTurn()" (outputToParent)="GetOutputVal($event)" [game]="game"
                      [nextTurns]="nextTurns"></app-fourth-phase>
  </div>

  <div>
    <app-fifth-phase *ngIf="fifthPhaseTurn()" (outputToParent)="GetOutputVal($event)" [game]="game"
                     [nextTurns]="nextTurns"></app-fifth-phase>
  </div>

  <div>
    <app-end-round *ngIf="sixthPhaseTurn()" (outputToParent)="GetOutputVal($event)" [game]="game"
                   [nextTurns]="nextTurns"></app-end-round>
  </div>

</div>


<div *ngIf="gameEnd()" class="text-white" style="margin-left: 20px;">
  <div style="font-size: 30px;">Game Finished</div>
  <div>Your score: {{this.game.player.winPoints}}</div>
  <div *ngFor="let player of this.game?.otherPlayers">
    Another player score: {{player.winPoints}}
  </div>
</div>

<div *ngIf="this.parentForm.value?.player === 'You'">
  <h2 class="text-white">Hand</h2>

  <div class="card-container">
    <ul class="myUL">
      <li *ngFor="let card of getPlayerHand(getPlayerToShow());" class="filterDiv automated display">
        <app-card-template [card]="card"></app-card-template>
      </li>
    </ul>
  </div>
</div>

<h2 class="text-white">Played</h2>

<div class="card-container">
  <ul class="myUL">
    <li *ngFor="let card of getPlayedBlueCardsWithCorporation(getPlayerToShow());" class="filterDiv automated display">
      <app-card-template [card]="card" [game]="game" [showResources]="true"></app-card-template>
    </li>
  </ul>

  <div class="card-box-container">
    <div class="card-box">
      <div *ngFor="let card of getPlayedGreenCards(getPlayerToShow()); let i = index;"
           [ngClass]="i == 0 ? 'cards-stack-first': 'cards-stack'">

        <div class="display stack">
          <app-card-template [card]="card" [game]="game" [showResources]="true"></app-card-template>
        </div>
      </div>
    </div>

    <div class="card-box">
      <div *ngFor="let card of getPlayedRedCards(getPlayerToShow()); let i = index;"
           [ngClass]="i == 0 ? 'cards-stack-first': 'cards-stack'">

        <div class="display stack">
          <app-card-template [card]="card" [game]="game" [showResources]="true"></app-card-template>
        </div>
      </div>
    </div>
  </div>

</div>




