.resource_item {
  display: flex;
  border-radius: 5px;
  vertical-align: top;
  font-family: Prototype;
  background: linear-gradient(rgba(0, 0, 0, 0.8) 20%, rgba(0, 0, 0, 0.3) 50%);
  color: #e6e1e1;
  margin-left: 10px;
  min-width: 70px;
  padding: 8px 0px 4px 8px;
  box-sizing: border-box;
}

.resource_item_stock {
  white-space: nowrap;
}

.resource_icon {
  width: 36px;
  height: 36px;
  display: inline-block;
  background-size: contain;
}

.resource_icon_card {
  width: 36px;
  height: 51px;
  display: inline-block;
  background-size: contain;
}

.player-info {
  border-radius: 8px;
}

.another-player-info {
  display: flex;
  flex-flow: row;
}

.player-info .player-tags {
  display: flex;
  flex-flow: row;
  margin-left: 10px;
}

.player-info .player-tags .player-tags-main {
  display: flex;
  align-items: center;
  margin-left: 0;
}

.tag-and-discount {
  position: relative;
}

.player-info .player-tags .player-tags-secondary {
  display: flex;
  flex-flow: row;
  align-items: center;
  position: relative;
  margin-left: 5px;
}

.tag-display {
  display: flex;
  flex-flow: column;
  margin-right: 8px;
}

.tag-count {
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.6), 0 0 0 2px rgba(0, 0, 0, 0.3);
  position: relative;
  width: 40px;
  height: 40px;
  background-size: 42px 42px;
  background-position: -1px -1px;
  text-align: center;
  border-radius: 50%;
  background-color: white;
  margin-top: -6px;
  margin-left: 3px;
  box-sizing: content-box;
  z-index: 2;
}

.tag-vp {
  background: linear-gradient(#cc8b00, #805700, #805700) !important;
  background-position: 0px !important;
}

.tag-vp::after {
  position: absolute;
  content: "VP";
  font-family: Prototype;
  color: black;
  font-size: 20px;
  text-shadow: 0 0 5px darkorange;
  text-align: center;
  top: 3px;
  left: 7px;
}

.tag-size-big {
  margin-top: 0px;
  margin-left: 0px;
  background-position: -2px;
}

.tag-type-main {
  border-radius: 4px;
  border: none;
  width: 40px;
  height: 34px;
  background-size: 40px 34px;
}

.tag-type-secondary {
  width: 34px;
  height: 34px;
  background-size: 38px;
}

.tag-count-display {
  color: #e8e8e8;
  text-align: center;
  font-size: 26px;
  font-family: Prototype;
  line-height: 1;
  text-shadow: 0 1px 1px black;
  margin-top: 11px;
}

.tag-tr {
  background-image: url(../../assets/images/resources/tr.png);
  background-size: 49px 38px !important;
  background-position: -4px -2px !important;
}

.tag-forest {
  background-image: url(../../assets/images/tags/forest.png);
  background-size: 42px 33px !important;
}

.surface {
  position: relative;
  left: 25%;
  width: 640px;
  height: 371px;
  background-image: url(../../assets/images/surface.png);
  background-size: contain;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.view-choice {
  position: absolute;
  left: 1%;
  top: 200px;

  display: inline-table;
  justify-content: center;
  align-items: center;
  text-align: left;
}

.tracker {
  position: absolute;
  width: 29px;
  height: 29px;
  background-image: url(../../assets/images/misc/tracker.png);
  background-size: contain;
}

.phase-ocean-tracker {
  position: absolute;
  font-size: 15px;
  left: 287px;
  bottom: 16px;
}

.ocean-color-purple {
  position: absolute;
  left: 225px;
  bottom: 12px;
  background-color: purple;
  color: white;
  width: 36px;
  border-radius: 5px;
  font-size: 14px;
}

.ocean-color-red {
  position: absolute;
  left: 225px;
  bottom: 34px;
  background-color: red;
  color: white;
  width: 36px;
  border-radius: 5px;
  font-size: 14px;
}

.ocean-color-yellow {
  position: absolute;
  left: 379px;
  bottom: 12px;
  background-color: yellow;
  color: black;
  width: 36px;
  border-radius: 5px;
  font-size: 14px;
}

.ocean-color-white {
  position: absolute;
  left: 379px;
  bottom: 34px;
  background-color: white;
  color: black;
  width: 36px;
  border-radius: 5px;
  font-size: 14px;
}

.ocean-counter-grey {
  filter: grayscale(30%);
  opacity: 0.4;
}

.tracker-transparent {
  opacity: 0.7;
}

.ocean-tracker {
  position: absolute;
  width: 86px;
  height: 74px;
  background-image: url(../../assets/images/misc/oceanTracker.png);
  background-size: contain;
}

.ocean_1 {
  left: 124px;
  bottom: 21px;
}

.ocean_2 {
  left: 124px;
  bottom: 109px;
}

.ocean_3 {
  left: 200px;
  bottom: 65px;
}

.ocean_4 {
  left: 200px;
  bottom: 154px;
}

.ocean_5 {
  left: 431px;
  bottom: 21px;
}

.ocean_6 {
  left: 431px;
  bottom: 109px;
}

.ocean_7 {
  left: 354px;
  bottom: 65px;
}

.ocean_8 {
  left: 354px;
  bottom: 153px;
}

.ocean_9 {
  left: 277px;
  bottom: 109px;
}

.temperature_-30 {
  left: 26px;
  bottom: 101px;
}

.temperature_-28 {
  left: 48px;
  bottom: 133px;
}

.temperature_-26 {
  left: 72px;
  bottom: 161px;
}

.temperature_-24 {
  left: 98px;
  bottom: 187px;
}

.temperature_-22 {
  left: 126px;
  bottom: 207px;
}

.temperature_-20 {
  left: 156px;
  bottom: 224px;
}

.temperature_-18 {
  left: 188px;
  bottom: 239px;
}

.temperature_-16 {
  left: 221px;
  bottom: 250px;
}

.temperature_-14 {
  left: 254px;
  bottom: 256px;
}

.temperature_-12 {
  left: 288px;
  bottom: 260px;
}

.temperature_-10 {
  left: 321px;
  bottom: 260px;
}

.temperature_-8 {
  left: 356px;
  bottom: 257px;
}

.temperature_-6 {
  left: 389px;
  bottom: 251px;
}

.temperature_-4 {
  left: 423px;
  bottom: 240px;
}

.temperature_-2 {
  left: 454px;
  bottom: 226px;
}

.temperature_0 {
  left: 485px;
  bottom: 208px;
}

.temperature_2 {
  left: 513px;
  bottom: 187px;
}

.temperature_4 {
  left: 538px;
  bottom: 163px;
}

.temperature_6 {
  left: 563px;
  bottom: 135px;
}

.temperature_8 {
  left: 584px;
  bottom: 103px;
}

.oxygen_0 {
  left: 83px;
  top: 94px;
}

.oxygen_1 {
  left: 112px;
  top: 78px;
}

.oxygen_2 {
  left: 141px;
  top: 61px;
}

.oxygen_3 {
  left: 173px;
  top: 48px;
}

.oxygen_4 {
  left: 204px;
  top: 39px;
}

.oxygen_5 {
  left: 237px;
  top: 31px;
}

.oxygen_6 {
  left: 271px;
  top: 27px;
}

.oxygen_7 {
  left: 305px;
  top: 26px;
}

.oxygen_8 {
  left: 338px;
  top: 26px;
}

.oxygen_9 {
  left: 372px;
  top: 30px;
}

.oxygen_10 {
  left: 405px;
  top: 38px;
}

.oxygen_11 {
  left: 437px;
  top: 48px;
}

.oxygen_12 {
  left: 469px;
  top: 61px;
}

.oxygen_13 {
  left: 499px;
  top: 77px;
}

.oxygen_14 {
  left: 527px;
  top: 95px;
}

.resource_icon--megacredits {
  background-image: url(../../assets/images/megacredits/megacredit.png);
}

.resource_icon--cards {
  background-image: url(../../assets/images/resources/card.png);
}

.resource_icon--heat {
  background-image: url(../../assets/images/resources/heat.png);
}

.resource_icon--plants {
  background-image: url(../../assets/images/resources/plant.png);
}

.resource_icon--steel {
  background-image: url(../../assets/images/resources/steel.png);
}

.resource_icon--titanium {
  background-image: url(../../assets/images/resources/titanium.png);
}

.resource_icon--megacredits::after {
  position: absolute;
  content: "€";
  color: rgba(0, 0, 0, 0.3);
  font-style: normal;
  font-family: Arial;
  font-weight: bold;
  width: 36px;
  height: 36px;
  text-align: center;
  line-height: 36px;
}

.resource_item_stock_count {
  font-size: 30px;
  text-align: center;
  line-height: 1;
  text-shadow: 0 2px 2px black;
}

.resource_item_prod {
  border-radius: 10px 10px 0 0;
  color: #bb8760;
  text-shadow: 0 0 1px black;
  min-width: 40px;
  text-align: center;
}

.resource_item_prod_count {
  display: inline-block;
}


.phaseDisplay {
  float: left;
  width: 40px;
  height: 40px;
  font-family: Prototype;
  font-size: 18px;
  margin: 5px;
  border-top: 4px solid rgb(221, 221, 221);
  border-left: 4px solid rgb(221, 221, 221);
  border-bottom: 4px solid rgb(137, 137, 137);
  border-right: 4px solid rgb(137, 137, 137);
  border-radius: 20px;
  box-shadow: 0 0 2px 1px black;
  will-change: transform;
  background-size: contain;
}

.display-phase-container {
  position: absolute;
  left: 2rem;
  top: 25rem;
  width: 250px;
  height: 40px;
  display: flex;
  justify-content: center;
}

.display-phase-container .selectedPhase {
  border-color: green;
}

.cards-stack {
  position: relative;
  margin-left: -207px;
  filter: drop-shadow(0px -3px 3px black);
  z-index: 1;
}

.cards-stack:hover {
  z-index: 2;
}

.cards-stack-first {
  position: relative;
  z-index: 1;
}

.cards-stack-first:hover {
  z-index: 2;
}

.stack {
  position: relative;
  width: 240px;
  height: 310px;
  font-family: Prototype;
  font-size: 18px;
  margin: 15px;
  margin-bottom: 10px;
  border-top: 4px solid rgb(221, 221, 221);
  border-left: 4px solid rgb(221, 221, 221);
  border-bottom: 4px solid rgb(137, 137, 137);
  border-right: 4px solid rgb(137, 137, 137);
  border-radius: 20px;
  box-shadow: 0 0 2px 1px black;
  transition: transform 200ms ease-in-out;
  will-change: transform;
}

.stack::before {
  background-size: 1000px;
  background-image: url(../../assets/images/mars.png);
  content: "";
  position: absolute;
  width: 240px;
  height: 310px;
  top: 0;
  left: 0;
  background-position: -369px -11px;
  border-radius: 15px;
  filter: grayscale(1) brightness(1.9) contrast(0.6) hue-rotate(90deg);
}

.stack-hidden-area {
  position: absolute;
  width: 174px;
  margin-left: 70px;
  height: 310px;
  z-index: 3;
}

.shrink {
  -webkit-transform: scale(0.3);
  -moz-transform: scale(0.3);
  -ms-transform: scale(0.3);
  transform: scale(0.3);
}

.tm-box {
  display: flex;
  flex-flow: column;
}

.gen-text {
  font-size: 14px;
  margin-top: 2px;
}

.gen-marker {
  font-size: 34px;
}

.tm {
  background: url(../../assets/images/mars.png);
  width: 60px;
  height: 60px;
  margin-top: 3px;
  border-radius: 50%;
  box-shadow: 0 1px 1px 1px black;
  font-family: Prototype;
  text-align: center;
  line-height: 20px;
  color: black;
  background-size: 100px;
  background-position: -26px -20px;
  margin-left: 10px;
}


.award {
  background: url(../../assets/images/award.png);
}

.milestone {
  background: url(../../assets/images/milestone.png);
}

.achievement {
  position: absolute;
  width: 135px;
  height: 85px;
  background-size: contain;
  border-radius: 10px;
}

.achievement-title {
  text-align: center;
  width: 135px;
  text-transform: uppercase;
  font-family: Prototype;
  font-size: 14px;
  margin-top: 42px;
}

.achieved-milestone {
  filter: grayscale(100%);
}

.achievement-player-value {
  position: absolute;
  height: 25px;
  width: 25px;
  display: inline;
  background-size: contain;
  border-radius: 3px;
}

.achievement-border {
  position: absolute;
  width: 135px;
  height: 85px;
  background-size: contain;
  border-radius: 15px;
}

.achievement-success {
  margin-top: -4px;
}

.greyed-phase {
  filter: grayscale(90%);
  opacity: 0.3;
}

.forbidden-phase {
  filter: grayscale(0%);
  opacity: 1;
  background-image: url(../../assets/images/misc/red-cross.png);
}

.upgraded-phase {
  box-shadow: 0 0 1px 1px #444, 0 0 4px 4px gold !important;
  opacity: 0.9;
}

.oxygen-detriment {
  position: absolute;
  width: 200px;
  height: 85px;
  background-size: contain;
  border-radius: 15px;
  top: 10px;
  left: 700px;
}

.temperature-detriment {
  position: absolute;
  width: 200px;
  height: 85px;
  background-size: contain;
  border-radius: 15px;
  top: 140px;
  left: 700px;
}

.ocean-detriment {
  position: absolute;
  width: 200px;
  height: 85px;
  background-size: contain;
  border-radius: 15px;
  top: 270px;
  left: 700px;
}

.detriment-0 {
  background-image: url("../../assets/images/misc/yellow-detriment.png");
}

.detriment-1 {
  background-image: url("../../assets/images/misc/red-detriment.png");
}

.detriment-2 {
  background-image: url("../../assets/images/misc/white-detriment.png");
}

