<app-navbar [game]="game" [player]="getPlayerToShow()"></app-navbar>

<div style="padding-top: 100px;">

</div>

<form [formGroup]="parentForm" class="view-choice">
  <table>
    <tbody>
    <tr>
      <td>
        <div class="form-check">
          <input id="you" type="radio" class="form-check-input" value="You" formControlName="player" [checked]="true">
          <label class="custom-control-label text-white" for="you">
            You
          </label>
        </div>
      </td>
      <td>
        <div class="form-check">
          <input id="turnInfo" type="checkbox" class="custom-control-input btn-check" [checked]="true"
                 onclick="this.checked=!this.checked;"/>
          <label class="btn" [ngClass]="yourTurnInfo() ? 'btn-outline-success' : 'btn-outline-danger'" for="turnInfo"
                 style="font-size: 10px">
            {{yourTurnInfo() ? 'WAIT' : 'TURN'}}
          </label>
        </div>
      </td>
    </tr>

    <tr *ngFor="let otherPlayer of game?.otherPlayers; let i = index">
      <td>
        <div class="form-check">
          <input id="opponent" type="radio" class="form-check-input" value="{{i}}"
                 formControlName="player">
          <label class="custom-control-label text-white" for="opponent">
            {{otherPlayer.name}}
          </label>
        </div>
      </td>
      <td>
        <div class="form-check">
          <input id="otherTurnInfo" type="checkbox" class="custom-control-input btn-check" [checked]="true"
                 onclick="this.checked=!this.checked;"/>
          <label class="btn" [ngClass]="otherPlayerTurnInfo(otherPlayer) ? 'btn-outline-success' : 'btn-outline-danger'"
                 for="otherTurnInfo" style="font-size: 10px">
            {{otherPlayerTurnInfo(otherPlayer) ? 'WAIT' : 'TURN'}}
          </label>
        </div>
      </td>
    </tr>
    </tbody>
  </table>


</form>

<div id="displayPhaseContainer" class="display-phase-container">
  <div *ngFor="let item of chosenPhases()" [ngClass]="phaseDisplayStyles(item)"
       class="phaseDisplay display phase-{{item}}"></div>
</div>


<div class="surface">
  <div class="tracker temperature_{{game? game.temperature : 0}}"></div>
  <div class="tracker oxygen_{{game ? game.oxygen : 0}}"></div>

  <div *ngIf="game?.phaseTemperature && game.phaseTemperature !== game.temperature && game?.phase === 2"
       class="tracker tracker-transparent temperature_{{game? game.phaseTemperature : 0}}"></div>

  <div *ngIf="game?.phaseOxygen !== null && game?.phaseOxygen !== game?.oxygen && game?.phase === 2"
       class="tracker tracker-transparent oxygen_{{game ? game.phaseOxygen : 0}}"></div>

  <div *ngIf="game?.phaseOceans !== null && game?.phaseOceans !== game?.oceans.length
      && game?.phase === 2"
       class="phase-ocean-tracker text-white"
  >
    {{game.oceans.length}}({{game.phaseOceans}}) <br/>
    <span style="font-size: 10px">(at phase start)</span>
  </div>

  <div *ngFor="let ocean of game?.oceans; let i = index" class="ocean-tracker ocean_{{i + 1}}">
    <div style="margin-top: 8px;"></div>
    <div *ngFor="let item of [].constructor(ocean.plants); let i = index" class="resource plant"></div>
    <div *ngIf="ocean.mc" class="resource money">{{ocean.mc}}</div>
    <div *ngIf="ocean.cards" class="resource card"></div>
  </div>

  <div *ngFor="let milestone of game?.milestones; let i = index" class="milestone achievement"
       [ngStyle]="{'left.px': 650, 'top.px': 17 + 100 * i}"
       [ngClass]="milestoneClass(milestone)">
    <div class="achievement-title">{{milestone.type.replace('\_', ' ')}}</div>

    <div style="margin-top: -4px">
      <div *ngIf="milestoneMagnate(milestone)">8 green cards</div>
      <div *ngIf="milestoneTerraformer(milestone)">
        15 <div class="tile small-rating"></div>
      </div>
      <div *ngIf="milestoneBuilder(milestone)">
        8 <div class="resource-tag tag-building small-tag"></div>
      </div>
      <div *ngIf="milestoneSpaceBaron(milestone)">
        7 <div class="resource-tag tag-space small-tag"></div>
      </div>
      <div *ngIf="milestoneEnergizer(milestone)">
        10 prod <div class="resource heat small"></div>
      </div>
      <div *ngIf="milestoneFarmer(milestone)">
        5 prod <div class="resource plant small"></div>
      </div>
      <div *ngIf="milestoneTycoon(milestone)">6 blue cards</div>
      <div *ngIf="milestonePlanner(milestone)">12 cards played</div>
      <div *ngIf="milestoneDiversifier(milestone)">9 unique tags</div>
      <div *ngIf="milestoneLegend(milestone)">6 red cards</div>
    </div>

  </div>

  <div *ngFor="let award of game?.awards; let i = index" class="award achievement"
       [ngStyle]="{'left.px': 795, 'top.px': 17 + 100 * i}">
    <div class="achievement-title">{{award.type.replace('\_', ' ')}}</div>

    <div *ngIf="awardTypeIndustrialist(award)" style="margin-top: -5px">
      Most
      <div class="resource steel small"></div>
      /
      <div class="resource titanium small"></div>
    </div>
    <div *ngIf="awardTypeProjectManager(award)" >
      Most cards played
    </div>

    <div *ngIf="awardTypeGenerator(award)" style="margin-top: -5px">
      Production
      <div class="resource heat small"></div>
    </div>
    <div *ngIf="awardTypeCelebrity(award)" style="margin-top: -5px">
      Production
      <div class="resource money small"><div style="margin-top: -6px">€</div></div>
    </div>
    <div *ngIf="awardTypeCollector(award)">
      Most resources
    </div>
    <div *ngIf="awardTypeResearcher(award)">
      Most <div class="resource-tag tag-science small-tag"></div>
    </div>

  </div>
</div>

<div *ngIf="this.parentForm.value?.player === 'You'">
  <div *ngFor="let player of this.game?.otherPlayers" class="player-info another-player-info">

    <div class="player-info another-player-info bg-dark" style="height: 80px; --bs-bg-opacity: .7;">
      <div class="text-white"
           style="width: 22px; height: 50px; word-wrap: break-word; font-size: 12px;">{{player.name}}</div>
      <div class="resource_item">
        <div class="resource_item_stock"><em class="resource_icon resource_icon--megacredits"></em>
          <div class="resource_item_stock_count">{{player?.mc}}</div>
        </div>
        <div class="resource_item_prod"><span class="resource_item_prod_count">{{player?.mcIncome}}</span></div>
      </div>
      <div class="resource_item">
        <div class="resource_item_stock"><em class="resource_icon resource_icon--heat"></em>
          <div class="resource_item_stock_count">{{player?.heat}}</div>
        </div>
        <div class="resource_item_prod"><span class="resource_item_prod_count">{{player?.heatIncome}}</span></div>
      </div>
      <div class="resource_item">
        <div class="resource_item_stock"><em class="resource_icon resource_icon--plants"></em>
          <div class="resource_item_stock_count">{{player?.plants}}</div>
        </div>
        <div class="resource_item_prod"><span class="resource_item_prod_count">{{player?.plantsIncome}}</span></div>
      </div>
      <div class="resource_item">
        <div class="resource_item_stock"><em class="resource_icon resource_icon--steel"></em></div>
        <div class="resource_item_prod"><span class="resource_item_prod_count">{{player?.steelIncome}}</span></div>
      </div>
      <div class="resource_item">
        <div class="resource_item_stock"><em class="resource_icon resource_icon--titanium"></em></div>
        <div class="resource_item_prod"><span class="resource_item_prod_count">{{player?.titaniumIncome}}</span>
        </div>
      </div>
      <div class="resource_item">
        <div class="resource_item_stock"><em class="resource_icon_card resource_icon--cards"></em>
        </div>
        <div class="resource_item_prod"><span class="resource_item_prod_count">{{player?.cardIncome}}</span></div>
      </div>
    </div>

    <div class="player-info another-player-info">
      <div class="player-tags">
        <div class="player-tags-main">
          <div class="tag-display">
            <div class="tag-count tag-vp tag-size-big tag-type-main"></div>
            <span class="tag-count-display">{{player?.winPoints}}</span>
          </div> <!---->
          <div class="tag-display">
            <div class="tag-count tag-tr tag-size-big tag-type-main"></div>
            <span class="tag-count-display">{{player?.terraformingRating}}</span>
          </div>
          <div class="tag-display">
            <div class="tag-count tag-forest tag-size-big tag-type-main"></div>
            <span class="tag-count-display">{{player?.forests}}</span>
          </div>

          <ul class="myUL" style="height: 87px; width: 144px;">
            <li *ngIf="player?.played.length > 0" class="filterDiv automated display shrink"
                style="margin-left: -100px; margin-top: -106px;"
            >
              <app-card-template [card]="player.played[player.played.length - 1]"></app-card-template>
            </li>

            <li *ngIf="player?.played.length > 1" class="filterDiv automated display shrink"
                style="margin-left: -20px; margin-top: -328px;"
            >
              <app-card-template [card]="player.played[player.played.length - 2]"></app-card-template>
            </li>

          </ul>

        </div>

        <div class="player-tags-secondary">

          <div *ngFor="let entry of getUniqueTags(player);" class="tag-count-container">
            <div class="tag-and-discount"><!----> <!---->
              <div class="tag-display">
                <div class="tag-count tag-{{entry[0].toLowerCase()}} tag-size-big tag-type-secondary"></div>
                <span class="tag-count-display">{{entry[1]}}</span></div>
            </div>
          </div>

        </div>
      </div>
    </div>

  </div>

</div>


<div *ngIf="this.parentForm.value?.player === 'You'">
  <div class="bg-danger mt-2 p-2 text-center text-white"
       *ngIf="errorMessage != null">
    {{errorMessage}}
  </div>

  <div *ngIf="nextTurns && nextTurns.length > 0">
    <div>
      <app-pick-corporation *ngIf="pickCorporationTurn()" (outputToParent)="GetOutputVal($event)"
                            [game]="game" [nextTurns]="this.nextTurns"></app-pick-corporation>
    </div>

    <div>
      <app-pick-phase *ngIf="pickPhaseTurn()" (outputToParent)="GetOutputVal($event)" [game]="game"></app-pick-phase>
    </div>

    <div>
      <app-first-phase *ngIf="firstPhaseTurn()" (outputToParent)="GetOutputVal($event)" [game]="game"
                       [nextTurns]="nextTurns"></app-first-phase>
    </div>

    <div>
      <app-second-phase *ngIf="secondPhaseTurn()" (outputToParent)="GetOutputVal($event)" [game]="game"
                        [nextTurns]="nextTurns"></app-second-phase>
    </div>

    <div>
      <app-third-phase *ngIf="thirdPhaseTurn()" (outputToParent)="GetOutputVal($event)" [game]="game"
                       [nextTurns]="nextTurns"></app-third-phase>
    </div>

    <div>
      <app-fourth-phase *ngIf="fourthPhaseTurn()" (outputToParent)="GetOutputVal($event)" [game]="game"
                        [nextTurns]="nextTurns"></app-fourth-phase>
    </div>

    <div>
      <app-fifth-phase *ngIf="fifthPhaseTurn()" (outputToParent)="GetOutputVal($event)" [game]="game"
                       [nextTurns]="nextTurns"></app-fifth-phase>
    </div>

    <div>
      <app-end-round *ngIf="sixthPhaseTurn()" (outputToParent)="GetOutputVal($event)" [game]="game"
                     [nextTurns]="nextTurns"></app-end-round>
    </div>
  </div>

</div>


<div *ngIf="gameEnd()" class="text-white" style="margin-left: 20px;">
  <div style="font-size: 30px;">Game Finished</div>
  <div>Your score: {{this.game.player.winPoints}}</div>
  <div *ngFor="let player of this.game?.otherPlayers">
    Another player score: {{player.winPoints}}
  </div>
</div>

<div *ngIf="this.parentForm.value?.player === 'You'">
  <h2 class="text-white">Hand</h2>

  <div class="card-container">
    <ul class="myUL">
      <li *ngFor="let card of getPlayerHand(this.game?.player);" class="filterDiv automated display">
        <app-card-template [card]="card"></app-card-template>
      </li>
    </ul>
  </div>
</div>

<h2 class="text-white">Played</h2>

<div class="card-container">
  <ul class="myUL">
    <li *ngFor="let card of getPlayedBlueCardsWithCorporation(getPlayerToShow());" class="filterDiv automated display">
      <app-card-template [card]="card" [player]="getPlayerToShow()" [showResources]="true"></app-card-template>
    </li>
  </ul>

  <div class="card-box-container">
    <div class="card-box">
      <div *ngFor="let card of getPlayedGreenCards(getPlayerToShow()); let i = index;"
           [ngClass]="i == 0 ? 'cards-stack-first': 'cards-stack'">

        <div class="display stack">
          <div class="stack-hidden-area" onmouseenter="this.parentElement.parentElement.style.zIndex = '1';"
               onmouseleave="this.parentElement.parentElement.style.zIndex = null;"
          ></div>
          <app-card-template [card]="card" [player]="getPlayerToShow()" [showResources]="true"></app-card-template>
        </div>
      </div>
    </div>

    <div class="card-box">
      <div *ngFor="let card of getPlayedRedCards(getPlayerToShow()); let i = index;"
           [ngClass]="i == 0 ? 'cards-stack-first': 'cards-stack'">

        <div class="display stack">
          <div class="stack-hidden-area" onmouseenter="this.parentElement.parentElement.style.zIndex = '1';"
               onmouseleave="this.parentElement.parentElement.style.zIndex = null;"
          ></div>
          <app-card-template [card]="card" [player]="getPlayerToShow()"></app-card-template>
        </div>
      </div>
    </div>
  </div>

</div>




