/* fonts */
@font-face {
  font-family: Prototype;
  src: url(../fonts/Prototype.ttf);
}

body {
  background-color: black;
  background-image: url(../images/stars.jpg);
  background-attachment: fixed;
}

.myUL {
  list-style-type: none;
}

.app-container {
  max-width: 1750px;
  height: 850px;
  padding-top: 1px;
  margin: auto;
  background-repeat: no-repeat;
  background: linear-gradient(to top, #000000, transparent 20%),
  linear-gradient(to left top, #000, transparent 20%),
  linear-gradient(to right top, #000, transparent 20%),
  url("../images/mars2.jpg");
  background-size: 1750px;
}

.list-container {
  height: 850px;
  padding-bottom: 10px;
}

.card-container {
  display: flex;
  flex-direction: column;
}

.corporationLabel {
  float: left;
  position:absolute;
  font-family: Prototype;
  width: 115px;
  height: 14px;
  line-height: 15px;
  text-align: center;
  margin-top: -10px;
  margin-left: 24px;
  font-size: 13px;
  box-shadow: 0 0 0 1px rgba(0,0,0,0.6), 0 0 0 2px rgba(0,0,0,0.3);
  background: #cccccc;
  background-color: rgb(255,204,100);
  background: linear-gradient(to right, #e28c22, rgb(255,204,100),rgb(255,204,100), #e28c22);
  border-radius: 7px 7px 2px 2px;
}

/*project card div*/
.ul-title {
  display: none;
  position: relative;
  z-index: 1;
  font-size: 16px;
  font-style: italic;
  letter-spacing: 1px;
  padding-left: 5px;
  border-radius: 10px;
  background: linear-gradient(to right, #d8ab00, #c19900, #bb511d88, #bb511d00);
  margin: 0px 0px 0px -25px;
  width: 800px;
}

.filterDiv {
  cursor: pointer;
  float: left;
  position: relative;
  width: 240px;
  height: 310px;
  display: none;
  font-family: Prototype;
  font-size: 18px;
  margin: 15px;
  margin-bottom: 10px;
  border-top: 4px solid rgb(221, 221, 221);
  border-left: 4px solid rgb(221, 221, 221);
  border-bottom: 4px solid rgb(137, 137, 137);
  border-right: 4px solid rgb(137, 137, 137);
  border-radius: 20px;
  box-shadow: 0 0 2px 1px black;
  transition: transform 200ms ease-in-out;
  will-change: transform;
}

.phaseDisplay {
  cursor: pointer;
  float: left;
  position: relative;
  width: 40px;
  height: 40px;
  display: none;
  font-family: Prototype;
  font-size: 18px;
  margin: 15px;
  margin-bottom: 10px;
  border-top: 4px solid rgb(221, 221, 221);
  border-left: 4px solid rgb(221, 221, 221);
  border-bottom: 4px solid rgb(137, 137, 137);
  border-right: 4px solid rgb(137, 137, 137);
  border-radius: 20px;
  box-shadow: 0 0 2px 1px black;
  transition: transform 200ms ease-in-out;
  will-change: transform;
  background-size: contain;
}


.phase-size {
  height: 240px;
}

.phase-transparent {
  opacity: 0.3;
}

.phase-1 {
  background-image: url("../images/phases/1.jpg");
}

.phase-2 {
  background-image: url("../images/phases/2.jpg");
}

.phase-3 {
  background-image: url("../images/phases/3.jpg");
}

.phase-4 {
  background-image: url("../images/phases/4.jpg");
}

.phase-5 {
  background-image: url("../images/phases/5.jpg");
}

li.automated::before {
  content: "";
  background-size: 1000px;
  background-image: url(../images/mars.png);
  position: absolute;
  width: 30px;
  height: 30px;
  width: 240px;
  height: 310px;
  top: 0;
  left: 0;
  background-position: -369px -11px;
  border-radius: 15px;
  filter: grayscale(1) brightness(1.9) contrast(0.6) hue-rotate(90deg);
}

li.active::before {
  content: "";
  background-size: 1200px;
  background-image: url(../images/mars.png);
  position: absolute;
  width: 30px;
  height: 30px;
  width: 240px;
  height: 310px;
  top: 0;
  left: 0;
  background-position: -245px -162px;
  border-radius: 15px;
  filter: grayscale(1) brightness(1.9) contrast(0.6) hue-rotate(180deg);
}

li.events::before {
  content: "";
  background-size: 1000px;
  background-image: url(../images/mars.png);
  position: absolute;
  width: 30px;
  height: 30px;
  width: 240px;
  height: 310px;
  top: 0;
  left: 0;
  background-position: -294px -150px;
  border-radius: 15px;
  filter: grayscale(1) brightness(1.9) contrast(0.6) hue-rotate(0deg);
}

.clicked-card {
  box-shadow: 0 0 1px 1px #444, 0 0 15px 5px white !important;
  filter: grayscale(1);
}

* {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

*:before,
*:after {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}


.tag {
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.6), 0 0 0 2px rgba(0, 0, 0, 0.3);
  position: absolute;
  width: 40px;
  height: 40px;
  background-size: 50px;
  background-position: -5px;
  text-align: center;
  border-radius: 50%;
  border-top: 2px solid rgb(221, 221, 221);
  border-left: 2px solid rgb(221, 221, 221);
  border-bottom: 2px solid rgb(137, 137, 137);
  border-right: 2px solid rgb(137, 137, 137);
  background-color: white;
  margin-top: -6px;
  filter: brightness(0.9);
}

.tag1 {
  margin-left: 200px;
}

.tag2 {
  margin-left: 152px;
}

.tag3 {
  margin-left: 104px;
}

.standard-icon:after {
  content: "\00a0";
  position: absolute;
  border: 1px solid black;
  line-height: 16px;
  width: 16px;
  height: 16px;
  text-align: center;
  color: white;
  border-radius: 50%;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.4);
}

.title {
  position: relative;
  text-transform: uppercase;
  float: left;
  font-family: Prototype;
  margin-top: 36px;
  width: 100%;
  border-top: 1px solid #888;
  border-bottom: 1px solid #888;
  box-shadow: 0 1px 0px 0px #888;
  border-radius: 0 0 0px 0px;
  line-height: 30px;
  font-size: 16px;
  text-align: center;
  border-radius: 0 0 30% 30%;
}

.price {
  float: left;
  font-size: 26px;
  width: 50px;
  height: 50px;
  line-height: 48px;
  border-radius: 10px;
  text-align: center;
  margin-top: -77px;
  margin-left: -10px;
  background-image: url(../images/megacredits/megacredit.png);
  background-size: 50px;
  filter: drop-shadow(0px 0px 1px black);
}

.number {
  position: relative;
  float: left;
  width: 36px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  color: #aaa;
  letter-spacing: 1px;
  margin-top: -62px;
  margin-left: 50px;
  font-size: 12px;
}

.points {
  position: absolute;
  font-weight: normal;
  margin-top: 183px;
  margin-left: 143px;
  width: 80px;
  height: 42px;
  line-height: 35px;
  font-size: 28px;
  text-align: center;
  border-radius: 10px;
  background-color: rgb(205, 162, 130);
  background: linear-gradient(#cc8b00, rgb(128, 87, 0), rgb(128, 87, 0));
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.6), 0 0 0 2px rgba(0, 0, 0, 0.3);
  background: url(../images/mars.png);
  background-size: 90px;
  background-position: -5px -25px;
  text-shadow: 0 0 5px darkorange;
}

.points-player {
  position: absolute;
  margin-left: -5px;
  margin-top: 197px;
  font-weight: normal;
  width: 60px;
  height: 30px;
  line-height: 35px;
  font-size: 28px;
  text-align: center;
  border-radius: 10px;
  background-color: rgb(205, 162, 130);
  background: linear-gradient(#cc8b00, rgb(128, 87, 0), rgb(128, 87, 0));
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.6), 0 0 0 2px rgba(0, 0, 0, 0.3);
  background: url(../images/mars.png);
  background-size: 90px;
  background-position: -5px -25px;
  text-shadow: 0 0 5px darkorange;
  filter: grayscale(60%);
}

.points-counter {
  font-size: 22px;
  vertical-align: top;
}

.player-resource {
  transform: scale(0.6);
  top: -4px;
  left: 5px;
}

.points-big {
  line-height: 42px;
  font-size: 36px;
}

.requirements {
  font-family: Prototype;
  width: 70%;
  margin-left: 33px;
  margin-bottom: 10px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  font-weight: normal;
  font-size: 15px;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.6), 0 0 0 2px rgba(0, 0, 0, 0.3);
  background: linear-gradient(to right, #fa2525, #fb7272, #fb7272, #fa2525);
  background-image: url(../images/requisites/min_big.png);
  background-size: 180px 38px;
  background-position: -15px -4px;
  height: 25px;
  line-height: 25px;
}

.requirements-max {
  background: linear-gradient(to right, #fa2525, #fb7272, #fb7272, #fa2525);
  background-image: url(../images/requisites/max_big.png);
  background-size: 164px 34px;
  background-position: -4px -4px;
  filter: grayscale(0.2);
}

.requirements-ryw {
  background-image: url(../images/requisites/red_yel_whi.png);
}

.requirements-pr {
  background-image: url(../images/requisites/pur_red.png);
}

.requirements-w {
  background-image: url(../images/requisites/whi.png);
}

.requirements-p {
  background-image: url(../images/requisites/pur.png);
}

.requirements-yw {
  background-image: url(../images/requisites/yel_whi.png);
}

.description {
  font-size: 11px;
  line-height: 13px;
  font-weight: normal;
  font-family: Arial;
}

.display {
  display: block;
}

.selectedPhase {
  border-color: green;
}

.container {
  margin-top: 20px;
  overflow: hidden;
}

.close {
  position: absolute;
  left: 870px;
  margin-top: -10px;
  font-weight: bold;
  font-size: 40px;
  cursor: pointer;
}

/************** Tiles**************/
.tile {
  position: relative;
  vertical-align: middle;
  display: inline-block;
  width: 40px;
  height: 46px;
  background-size: 40px 46px;
  line-height: 16px;
  text-align: center;
  margin-bottom: 10px;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 5px;
  filter: drop-shadow(0px 0px 1px black);
  background-image: url(../images/tiles/empty.png);
}

.temperature-tile {
  background-image: url(../images/global-parameters/temperature.png);
  width: 14px;
  background-size: 14px 46px;

}

.globals-box {
  width: 100px;
  text-shadow: none;
  font-size: 17px;
  font-weight: normal;
  line-height: 17px;
  vertical-align: middle;
  padding-top: 5px;
  border-radius: 5px;
  height: 40px;
  background-image: url(../images/requisites/min_big.png);
  background-size: 114px 60px;
  background-position: -9px -9px;
}

.ocean-tile {
  background-image: url(../images/tiles/ocean.png);
}

.forest-tile {
  background-image: url(../images/tiles/greenery.png);
  background-size: 50px 46px;
  width: 50px;
}

.oxygen-tile {
  background-image: url(../images/global-parameters/oxygen.png);
  width: 46px;
  background-size: 46px;
}

.rating {
  background-image: url(../images/resources/tr.png);
  width: 50px;
  height: 40px;
  background-size: 50px 40px;
}

/************** Style the Content ************/
.content {
  position: relative;
  display: inline-block;
  width: 220px;
  padding: 10px;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
}

.contentCorporation {
  position: relative;
  font-family: Prototype;
  font-size: 18px;
  font-weight: normal;
  display: inline-block;
  padding: 8px;
}

.corporationEffectBox {
  position: absolute;
  width: 216px;
  margin-top: 155px;
  padding: 3px;
  text-align: center;
  border-top: 1px solid rgba(0,0,0,.5);
}

.corporationEffectBoxLabel {
  background-color: rgb(44,132,196);
  background: linear-gradient(#6eafde,rgb(44,132,196),rgb(44,132,196));
  margin-left: 55px;
  margin-bottom: 10px;
  width: 100px;
  height: 12px;
  margin-top: -10px;
  line-height: 12px;
  text-align: center;
  font-size: 11px;
  padding-top:2px;
  border-radius: 10px;
  box-shadow: 0 0 0 1px rgba(0,0,0,0.6), 0 0 0 2px rgba(0,0,0,0.3);
}

.production-box {
  font-family: Prototype;
  font-weight: normal;
  font-size: 18px;
  width: 44px;
  display: inline-block;
  text-shadow: none;
  border-top: 2px solid rgb(221,221,221);
  border-left: 2px solid rgb(221,221,221);
  border-bottom: 2px solid rgb(137,137,137);
  border-right: 2px solid rgb(137,137,137);
  box-shadow: 0 0 0 1px rgba(0,0,0,0.6), 0 0 0 2px rgba(0,0,0,0.3);
  padding-top: 4px;
  text-align: center;
  margin-bottom: 10px;
  margin-top: 2px;
  padding-bottom: 4px;
  line-height: 32px;
  background-image: url(../images/misc/production.png);
  background-size: cover;
}

.production-box-size1a {
  width: 66px;
}

.production-box-size2 {
  width: 80px;
}

.production-box-size2a {
  width: 100px;
}

.production-box-size3 {
  width: 115px;
}

.production-box-size3a {
  width: 130px;
}

.production-box-size4 {
  width: 150px;
}

.production-box-size4a {
  width: 165px;
}

.production {
  display: inline-block;
  position: relative;
  width: 30px;
  height: 30px;
  background-size: 30px;
  line-height: 30px;
  margin: 2px;
  text-align: center;
  vertical-align: bottom;
}

/*********** Style the tags ************/
.tag-building {
  background-image: url("../images/tags/building.png");
}

.tag-space {
  background-image: url("../images/tags/space.png");
}

.tag-energy {
  background-image: url("../images/tags/power.png");
}

.tag-jupiter {
  background-image: url("../images/tags/jovian.png");
}

.tag-earth {
  background-image: url("../images/tags/earth.png");
}

.tag-microbe {
  background-image: url("../images/tags/microbe.png");
}

.tag-plant {
  background-image: url("../images/tags/plant.png");
}

.tag-animal {
  background-image: url("../images/tags/animal.png");
}

.tag-event {
  background-image: url("../images/tags/event.png");
}

.tag-science {
  background-image: url("../images/tags/science.png");
}

/**************Resources***********/
.resource {
  font-family: Prototype;
  position: relative;
  display: inline-block;
  margin-top: 5px;
  margin-left: 3px;
  margin-right: 3px;
  margin-bottom: 10px;
  width: 30px;
  height: 30px;
  font-size: 22px;
  line-height: 30px;
  background-size: 30px;
  filter: drop-shadow(0px 0px 1px black);
  vertical-align: middle;
}

.resource-tag {
  position: relative;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  background-size: 34px 34px;
  background-position: -2px -2px;
  line-height: 28px;
  box-shadow: 0 0 0 1px rgba(0,0,0,0.6), 0 0 0 2px rgba(0,0,0,0.3);
  vertical-align: middle;
  margin-bottom: 5px;
  filter: brightness(0.9);
}

.money {
  font-family: Prototype;
  color:black;
  background-image: url(../images/megacredits/megacredit.png);
  font-weight: normal;
  font-size: 18px;
  text-align: center;
}

.steel {
  background-image: url(../images/resources/steel.png);
}

.titanium {
  background-image: url(../images/resources/titanium.png);
}

.plant {
  background-image: url(../images/resources/plant.png);
}
.energy {
  background-image: url(../images/resources/energy.png);
}

.heat {
  background-image: url(../images/resources/heat.png);
}

.microbe {
  background-image: url(../images/resources/microbe.png);

}
.animal {
  background-image: url(../images/resources/animal.png);

}
.science {
  background-image: url(../images/resources/science.png);
}

.jupiter {
  background-image: url("../images/resources/jupiter.png");
}

.forest {
  background-image: url(../images/tiles/greenery.png);
}

.card {
  background: url("../images/resources/card.png");
  height: 40px;
  width: 30px;
  background-size: 30px 40px;
  vertical-align: middle;
}

.card-blue {
  background: url("../images/resources/blueCard.png");
  height: 40px;
  width: 30px;
  background-size: 30px 40px;
  vertical-align: middle;
}

.card-red {
  background: url("../images/resources/redCard.png");
  height: 40px;
  width: 30px;
  background-size: 30px 40px;
  vertical-align: middle;
}

.card-green {
  background: url("../images/resources/greenCard.png");
  height: 40px;
  width: 30px;
  background-size: 30px 40px;
  vertical-align: middle;
}

.card-face {
  background: linear-gradient(#ddd 20%, #74aedb 20%, #74aedb 80%, #ddd 80%, #ddd 100%);
  font-size: 14px;
  line-height: 40px;
  box-shadow: 0 0 2px 1px rgba(0,0,0,.5);
  border-radius: 2px;
  height: 40px;
}

.card-icon {
  position: absolute;
  margin-left: 15px;
  margin-top: -10px;
  width: 20px;
  height: 20px;
  line-height: 20px;
  border-radius: 10px;
  background-size: 20px 20px;
  box-shadow: 0 0 0 1px rgba(0,0,0,0.3);
}

/************** Extras ************/
.red-arrow {
  background-image: url(../images/misc/arrow.png);
  background-size: 30px;
  width: 30px;
  height: 30px;
  vertical-align: middle;
  display: inline-block;
  margin-bottom: 5px;
  background-repeat: no-repeat;
  background-position: 0px;
}

/*********** Background colors************/
.background-color-corporation {
  background: linear-gradient(-60deg, rgb(255, 204, 100) 10%, rgba(255, 204, 100, .4), rgb(255, 204, 100) 90%)
}

.background-color-automated {
  background: linear-gradient(-60deg, #089108 10%, #08910888, #089108 90%)
}

.background-color-active {
  background: linear-gradient(-60deg, #208cdf 10%, #208cdf88, #208cdf 90%);
}

.background-color-events {
  background: linear-gradient(-60deg, #ec6a13 10%, #ec6a1388, #ec6a13 90%)
}

.background-color-global {
  background: linear-gradient(-60deg, #43afa5 10%, #43afa588, #43afa5 90%);
}
